<div id="editForm" style="display:none;">
    <div class="title-container">
        <h4 class="action-title"></h4>
    </div>
    <form id="deviceEditForm" enctype="multipart/form-data">
        <div class="device-info">
            <input type="hidden" id="editDeviceId" name="deviceId">

            <h4 class="sub-title">Device</h4>

            <div class="input-group input-group-sm mb-3">
                <span class="input-group-text" id="inputGroup-sizing-sm">Hostname</span>
                <input type="text" id="editDeviceHostName" name="device_name" class="form-control"
                       aria-label="Sizing example input"
                       aria-describedby="inputGroup-sizing-sm" placeholder="Device hostname.">
            </div>

            <div class="input-group input-group-sm mb-3">
                <span class="input-group-text" id="inputGroup-sizing-sm">Domain</span>
                <input type="text" id="editDeviceDomain" name="domain" class="form-control"
                       aria-label="Sizing example input"
                       aria-describedby="inputGroup-sizing-sm" placeholder="Domain if existing.">
            </div>

            <div class="input-group input-group-sm mb-3">
                <span class="input-group-text" id="inputGroup-sizing-sm">Description</span>
                <input type="text" id="editDeviceDescription" name="description" class="form-control"
                       aria-label="Sizing example input"
                       aria-describedby="inputGroup-sizing-sm" placeholder="Short description.">
            </div>

            <div class="input-group input-group-sm mb-3">
                <span class="input-group-text" id="inputGroup-sizing-sm">Status</span>
                <select id="editDeviceStatus" name="status" class="form-control">
                    {# TODO: Hardcoded options, not a good practise #}
                    <option value="In operation">In operation</option>
                    <option value="Decommissioned">Decommissioned</option>
                    <option value="Pending Setup">Pending Setup</option>
                    <option value="Offline">Offline</option>
                    <option value="Not defined yet">Not defined yet</option>
                    <option value="Exception">Exception</option>
                </select><br>
            </div>

            <div class="input-group input-group-sm mb-3">
                <span class="input-group-text" id="inputGroup-sizing-sm">Manufacturer</span>
                <input type="text" id="editDeviceManufacturer" name="manufacturer" class="form-control"
                       aria-label="Sizing example input"
                       aria-describedby="inputGroup-sizing-sm" placeholder="Device manufacturer.">
            </div>

            <div class="input-group input-group-sm mb-3">
                <span class="input-group-text" id="inputGroup-sizing-sm">Model</span>
                <input type="text" id="editDeviceModel" name="model" class="form-control"
                       aria-label="Sizing example input"
                       aria-describedby="inputGroup-sizing-sm" placeholder="Device model.">
            </div>

            <div class="input-group input-group-sm mb-3">
                <span class="input-group-text" id="inputGroup-sizing-sm">IP Address</span>
                <input type="text" id="editDeviceIpAddress" name="ip_address" class="form-control"
                       aria-label="Sizing example input"
                       aria-describedby="inputGroup-sizing-sm" placeholder="Device IP address.">
            </div>

            <div class="input-group input-group-sm mb-3">
                <span class="input-group-text" id="inputGroup-sizing-sm">IP Address Second</span>
                <input type="text" id="editDeviceIpAddressSecondary" name="ip_address_sec" class="form-control"
                       aria-label="Sizing example input"
                       aria-describedby="inputGroup-sizing-sm" placeholder="Device second IP address.">
            </div>

            <div class="input-group input-group-sm mb-3">
                <span class="input-group-text" id="inputGroup-sizing-sm">Operating System</span>
                <input type="text" id="editDeviceOperatingSystem" name="operating_system" class="form-control"
                       aria-label="Sizing example input"
                       aria-describedby="inputGroup-sizing-sm" placeholder="Device operating system.">
            </div>

            <div class="input-group input-group-sm mb-3">
                <span class="input-group-text" id="inputGroup-sizing-sm">Building</span>
                <input type="text" id="editDeviceBuilding" name="building" class="form-control"
                       aria-label="Sizing example input"
                       aria-describedby="inputGroup-sizing-sm" placeholder="Location of device.">
            </div>

            <div class="input-group input-group-sm mb-3">
                <span class="input-group-text" id="inputGroup-sizing-sm">Category</span>
                <select id="editDeviceCategory" name="category" class="form-control">
                    <option value="Network">Network</option>
                    <option value="Server - Virtual">Server - Virtual</option>
                    <option value="Server - Physical">Server - Physical</option>
                    <option value="Server - Platform">Server - Platform</option>
                    <option value="Printer/Scanner">Printer/Scanner</option>
                    <option value="Storage">Storage</option>
                    <option value="Conferencing">Conferencing</option>
                    <option value="End Users Computing">End Users Computing</option>
                    <option value="AirCon">AirCon</option>
                    <option value="UPS">UPS</option>
                    <option value="Other">Other</option>
                </select><br>
            </div>

            <div class="input-group input-group-sm mb-3">
                <span class="input-group-text" id="inputGroup-sizing-sm">Category</span>
                <select name="sub_category" id="editDeviceSubCategory" class="form-control">
                    <option value="Router">Router</option>
                    <option value="Firewall">Firewall</option>
                    <option value="Firewall/IDS/IPS">Firewall/IDS/IPS</option>
                    <option value="Access Point">Access Point</option>
                    <option value="Switch">Switch</option>
                    <option value="Desktop">Desktop</option>
                    <option value="Laptop">Laptop</option>
                    <option value="Printer/MFP">Printer/MFP</option>
                    <option value="Scanner">Scanner</option>
                    <option value="IP Phone">IP Phone</option>
                    <option value="Teleconferencing/Modem">Teleconferencing/Modem</option>
                    <option value="VoIP System - Cisco CM">VoIP System - Cisco CM</option>
                    <option value="VoIP System - other">VoIP System - other</option>
                    <option value="App and DB Server">App and DB Server</option>
                    <option value="Application Server">Application Server</option>
                    <option value="Database Server">Database Server</option>
                    <option value="File Server">File Server</option>
                    <option value="Other Server">Other Server</option>
                    <option value="Backup device">Backup device</option>
                    <option value="Storage - NAS">Storage - NAS</option>
                    <option value="Storage - SAN">Storage - SAN</option>
                    <option value="Data Historian">Data Historian'</option>
                    <option value="Human Machine Interface (HMI)">Human Machine Interface (HMI)</option>
                    <option value="IDS/IPS Detection">IDS/IPS Detection</option>
                    <option value="Master Terminal Unit (MTU)">Master Terminal Unit (MTU)</option>
                    <option value="Programmable Logic Controller (PLC)">Programmable Logic Controller (PLC)</option>
                    <option value="Remote Access">Remote Access</option>
                    <option value="Remote Terminal Unit (RTU)">Remote Terminal Unit (RTU)</option>
                    <option value="Other hardware">Other hardware</option>
                </select><br>
            </div>

            <div class="input-group input-group-sm mb-3">
                <span class="input-group-text" id="inputGroup-sizing-sm">Serial Number</span>
                <input type="text" id="editDeviceSerialNumber" name="serial_number" class="form-control"
                       aria-label="Sizing example input"
                       aria-describedby="inputGroup-sizing-sm" placeholder="Device unique serial number.">
            </div>

            <div class="input-group input-group-sm mb-3">
                <span class="input-group-text" id="inputGroup-sizing-sm">Owner</span>
                <input type="text" id="editDeviceOwnerName" name="owner_name" class="form-control"
                       aria-label="Sizing example input"
                       aria-describedby="inputGroup-sizing-sm" placeholder="Person who use/own device.">
            </div>

        </div>

        <div class="support-info">

            <h4 class="sub-title">Support</h4>

            <div class="input-group input-group-sm mb-3">
                <span class="input-group-text" id="inputGroup-sizing-sm">Support Model</span>
                <input type="text" id="editDeviceSupportModel" name="support_model" class="form-control"
                       aria-label="Sizing example input"
                       aria-describedby="inputGroup-sizing-sm" placeholder="Short desc of device support model.">
            </div>

            <div class="input-group input-group-sm mb-3">
                <span class="input-group-text" id="inputGroup-sizing-sm">PO Number</span>
                <input type="text" id="editDevicePurchaseOrderNumber" name="purchase_order_number" class="form-control"
                       aria-label="Sizing example input"
                       aria-describedby="inputGroup-sizing-sm" placeholder="Purchase order number.">
            </div>

            <div class="input-group input-group-sm mb-3">
                <span class="input-group-text" id="inputGroup-sizing-sm">Invoice Image</span>
                <input type="file" id="editDeviceInvoiceImage" name="invoice_img" class="form-control"><br>
            </div>

            <div class="input-group input-group-sm mb-3 date-field">
                <span class="input-group-text" id="inputGroup-sizing-sm">Start Of Support</span>
                <input type="date" id="editDeviceStartOfSupport" name="sos" class="form-control"
                       aria-label="Sizing example input"
                       aria-describedby="inputGroup-sizing-sm">
            </div>

            <div class="input-group input-group-sm mb-3 date-field">
                <span class="input-group-text" id="inputGroup-sizing-sm">End Of Support</span>
                <input type="date" id="editDeviceEndOfSupport" name="eos" class="form-control"
                       aria-label="Sizing example input"
                       aria-describedby="inputGroup-sizing-sm">
            </div>

            <div class="input-group input-group-sm mb-3">
                <span class="input-group-text" id="inputGroup-sizing-sm">End Of Life</span>
                <input type="date" id="editDeviceEndOfLife" name="eol" class="form-control"
                       aria-label="Sizing example input"
                       aria-describedby="inputGroup-sizing-sm">
            </div>

            <a id="existingInvoiceLink" class="button btn-create" href="#" style="display:none;" download>Download
                Invoice</a><br>

        </div>

        <div class="risk-info">

            <h4 class="sub-title">Risk</h4>

            <div class="input-group input-group-sm mb-3">
                <span class="input-group-text" id="inputGroup-sizing-sm">Process At Risk</span>
                <input type="text" id="editDeviceBusinessProcessAtRisk" name="business_processes_at_risk"
                       class="form-control"
                       aria-label="Sizing example input"
                       aria-describedby="inputGroup-sizing-sm" placeholder="Short desc of device support model.">
            </div>

            <div class="input-group input-group-sm mb-3">
                <span class="input-group-text" id="inputGroup-sizing-sm">Impact</span>
                <select name="impact" id="editDeviceImpact" class="form-control">
                    {% for i in '12345' %}
                        <option value="{{ i }}">{{ i }}</option>
                    {% endfor %}
                </select><br>
            </div>

            <div class="input-group input-group-sm mb-3">
                <span class="input-group-text" id="inputGroup-sizing-sm">Likelihood</span>
                <select name="likelihood" id="editDeviceLikelihood" class="form-control">
                    {% for i in '12345' %}
                        <option value="{{ i }}">{{ i }}</option>
                    {% endfor %}
                </select><br>
            </div>

        </div>

        <div id="errorsEditContainer" style="display: none;"></div>

        <div class="button-container form-style">
            <div class="control-buttons"></div>
            <div class="action-buttons">
                <button class="reset-button-style button btn-create" type="submit" onclick="submitEditForm()">Save
                </button>
                <button class="reset-button-style button btn-delete" type="button"
                        onclick="showDeleteForm(
                            document.getElementById('editDeviceId').value,
                             document.getElementById('editDeviceHostName').value
                             )">
                    Delete
                </button>
                <button class="reset-button-style button btn-cancel" type="button" onclick="hideForm()">Cancel
                </button>
            </div>
        </div>

    </form>
</div>