<form id="uploadCSVForm" enctype="multipart/form-data" data-business-id="{{ business_id }}">
    <input id="inputFieldId" type="file" name="csv_file" accept=".xlsx">
    <div id="importResults" style="display:none;">
        <h3>Import Results</h3>
        <ul id="importResultsList"></ul>
        console.log text + variable
    </div>
    <div class="button-container">
        <div class="control-buttons"></div>
        <div class="action-buttons">
            <button id="upload-button" class="reset-button-style button btn-create" type="submit">Upload</button>
            <button id="cancel-button" class="reset-button-style button btn-cancel" type="button"
                    onclick="hideUploadForm()">Cancel
            </button>
            <button id="close-button" class="reset-button-style button btn-cancel" type="button" style="display: none"
                    onclick="hideUploadForm()">Close
            </button>
        </div>
    </div>
</form>
