<div class="business-card" onclick="window.location.href='{% url "business" pk=business.pk %}';">
    {% if business.owner.pk == request.user.pk %}
        {# TODO: to try made owned in upper right angle #}
        {# TODO: to move styles in css #}
        <span style="color: green;">owned</span>
        {% if business.is_visible == False %}
            <span style="color: crimson;">hidden</span>
        {% endif %}
    {% endif %}
    <p class="business-link">{{ business.business_name }}</p>
</div>