{% extends "base/base.html" %}

{% block main_content %}
    <!-- Forms container-->
    <div class="backdrop nojs"></div>

    <div class="password_done">


        <form class="password-done-form" action="">
            <div class="title-container">
                <h4 class="login-title">Password Changed Successfully</h4>
            </div>

            <p style="margin: auto;">Your password has been updated.</p>

            <div class="button-container">
                <div class="control-buttons"></div>
                <div class="action-buttons">
                    <a class="button btn-cancel" href="{% url 'home-page' %}">Back to HOME</a>
                </div>
            </div>
        </form>
    </div>

{% endblock %}