{% extends 'base/base.html' %}
{% load static %}

{% block main_content %}
    <div class="backdrop nojs"></div>

    <div class="profile-container">
        <form action="" class="profile-details-form">

            <div class="title-container">
                <h4 class="login-title">Profile information</h4>
            </div>

            <div class="wrapper">
                <div class="profile-image">
                    {% if request.user.profile.profile_pic %}
                        <img src="{{ request.user.profile.profile_pic.url }}" alt="">
                    {% else %}
                        <img src="{% static 'img/for_success_registration.jfif' %}" alt="">
                    {% endif %}
                </div>

                <div class="profile-information">

                    {% include 'accounts/partials/profile-detail-filed.html' with profile=object p_title='User Login' value=object.account.email %}

                    {% include 'accounts/partials/profile-detail-filed.html' with profile=object p_title='User Initials' value=object.initials %}

                    {% include 'accounts/partials/profile-detail-filed.html' with profile=object p_title='First Name' value=object.first_name %}

                    {% include 'accounts/partials/profile-detail-filed.html' with profile=object p_title='Last Name' value=object.last_name %}

                    {% include 'accounts/partials/profile-detail-filed.html' with profile=object p_title='Phone Number' value=object.phone_number %}

                </div>

            </div>

            <div class="button-container">
                <div class="control-buttons"></div>
                <div class="action-buttons">
                    <a class="button btn-edit" href="{% url 'edit-profile' pk=request.user.pk %}">Edit Profile</a>
                    <a class="button btn-cancel" href="{% url 'home-page' %}">Back to Home</a>
                </div>
            </div>
        </form>
    </div>
{% endblock %}