{% extends 'base/base.html' %}

{% block main_content %}

    <div class="backdrop" style="display:none;" onclick="hideEditForm()"></div>

    <!-- Hidden form for editing -->
    <div id="editForm" style="display:none;">
        <div class="title-container">
            <h2 class="suppliers-title">Edit Supplier</h2>
        </div>
        <form id="supplierEditForm">
            <input type="hidden" id="supplierId" name="supplierId">
            Name: <input type="text" id="supplierName" name="name"><br>
            Contact Name: <input type="text" id="supplierContactName" name="contact_name"><br>
            Phone number: <input type="text" id="supplierPhoneNumber" name="phone_number"><br>
            Eimal: <input type="text" id="supplierEmail" name="email"><br>
            <div class="button-container form-style">
                <div class="control-buttons"></div>
                <div class="action-buttons">
                    <button class="reset-button-style button btn-create" type="submit">Save</button>
                    <button class="reset-button-style button btn-cancel" type="button" onclick="hideEditForm()">Cancel</button>
                </div>
            </div>

        </form>
    </div>

    <div class="title-container">
        <h3>Suppliers</h3>
    </div>

    <div id="data-container"></div>

    <!-- Handsontable JS Script-->
    <script src="https://cdn.jsdelivr.net/npm/handsontable/dist/handsontable.full.min.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const suppliersData = JSON.parse('{{ suppliers_json|safe }}');

            const data = suppliersData.map(function (item) {
                return [
                    '<a href="#" onclick="showEditForm(' + item.id + ', \'' + item.name.replace(/'/g, "\\'") + '\', \'' + item.contact_name.replace(/'/g, "\\'") + '\', \'' + item.phone_number + '\', \'' + item.email + '\')"><i class="fa-solid fa-pen-to-square"></i></a>',
                    item.name,
                    item.contact_name,
                    item.phone_number,
                    item.email,
                ];
            });

            const container = document.getElementById('data-container');
            const button = document.querySelector('#export-file');
            {# button for downloading #}
            const hot = new Handsontable(container, {
                data: data,
                columns: [
                    {renderer: "html"},  // Ensure the first column renders HTML for the link
                    {},
                    {},
                    {},
                    {}
                ],

                <!-- Start General settings -->
                width: '100%', {# size of the table #}
                {#customBorders: true,#}
                stretchH: 'all', {# stretch horizontally table #}
                <!-- End General settings -->

                <!-- Start Columns settings -->
                columnSorting: true,

                {# remove `dropdownMenu` from first column #}
                afterGetColHeader(col, TH) {
                    if (col < 1) {
                        const button = TH.querySelector('.changeType');

                        if (!button) {
                            return;
                        }

                        button.parentElement.removeChild(button);
                    }
                },
                colHeaders: ['', 'Name', 'Contact name', 'Phone number', 'Email'],
                colWidths: [3.5], {# size of first cell #}
                <!-- End Columns settings -->

                <!-- Start Rows settings -->
                rowHeaders: false,
                <!-- End Rows settings -->

                <!-- Start Filters settings -->
                filters: true,
                {# dropdownMenu: true, #}
                dropdownMenu: ['filter_by_value', 'filter_action_bar'],
                {# Disable cell selection #}
                disableVisualSelection: true,
                <!-- End Filters settings -->

                <!-- Start Other settings -->
                readOnly: true,
                licenseKey: 'non-commercial-and-evaluation',
                <!-- End Other settings -->
            });

            {# Download data to CSV  #}
            const exportPlugin = hot.getPlugin('exportFile');

            button.addEventListener('click', () => {
                exportPlugin.downloadFile('csv', {
                    bom: false,
                    columnDelimiter: ',',
                    columnHeaders: false,
                    exportHiddenColumns: true,
                    exportHiddenRows: true,
                    fileExtension: 'csv',
                    filename: 'Handsontable-CSV-file_[YYYY]-[MM]-[DD]', {# TODO: Change file name #}
                    mimeType: 'text/csv',
                    rowDelimiter: '\r\n',
                    rowHeaders: true,
                    range: [2, 5, 3, 5] {# TODO: to check how is working `range` #}
                });
            });

        });
    </script>

    <script>
        function showEditForm(supplierId, supplierName, supplierContactName, supplierPhoneNumber, supplierEmail) {
            // Populate the form fields
            document.getElementById('supplierId').value = supplierId;
            document.getElementById('supplierName').value = supplierName;
            document.getElementById('supplierContactName').value = supplierContactName;
            document.getElementById('supplierPhoneNumber').value = supplierPhoneNumber;
            document.getElementById('supplierEmail').value = supplierEmail;

            // Show the form and the backdrop
            document.getElementById('editForm').style.display = 'block';
            document.querySelector('.backdrop').style.display = 'block';
        }

        function hideEditForm() {
            // Hide the form and the backdrop
            document.getElementById('editForm').style.display = 'none';
            document.querySelector('.backdrop').style.display = 'none';
        }

        document.addEventListener("DOMContentLoaded", function () {
            document.getElementById("supplierEditForm").addEventListener("submit", function (e) {
                e.preventDefault(); // Prevent the default form submission

                const supplierId = document.getElementById('supplierId').value;
                const supplierName = document.getElementById('supplierName').value;
                const supplierContactName = document.getElementById('supplierContactName').value;
                const supplierPhoneNumber = document.getElementById('supplierPhoneNumber').value;
                const supplierEmail = document.getElementById('supplierEmail').value;


                const csrftoken = '{{ csrf_token }}';

                fetch("{% url 'edit-supplier' pk=0 %}".replace('0', supplierId), {
                    method: 'PATCH',
                    body: JSON.stringify({
                        id: supplierId,
                        name: supplierName,
                        contact_name: supplierContactName,
                        phone_number: supplierPhoneNumber,
                        email: supplierEmail
                    }),
                    headers: {
                        'X-CSRFToken': csrftoken,
                        'Content-Type': 'application/json',
                    },
                }).then(response => {
                    if (response.ok) {
                        hideEditForm(); // Use the hideEditForm function to close the form
                        // Reload the page to reflect the updated data
                        window.location.reload();
                    }
                }).catch(error => console.error('Error:', error));
            });
            
        });
    </script>

    <div class="button-container">
        <div class="controls">
            <button class="reset-button-style button btn-download" id="export-file">Download CSV</button>

        </div>
        <div class="action-buttons">
            <a class="button btn-create" href="{% url 'create-supplier' %}">Add Supplier</a>
        </div>
    </div>

{% endblock %}