{#{% extends 'base/base.html' %}#}
{##}
{#{% block main_content %}#}
{##}
{#    <div>#}
{#        <form action="{% url 'create-supplier' %}" method="POST">#}
{#            {{ form }}#}
{##}
{#            {% csrf_token %}#}
{##}
{#            <div class="button-container">#}
{#                <div class="control-buttons"></div>#}
{#                <div class="action-buttons">#}
{#                    <button class="reset-button-style button btn-create">Create</button>#}
{#                    <a class="button btn-cancel" href="{% url 'supplier-list' %}">Cancel</a>#}
{#                </div>#}
{#            </div>#}
{#        </form>#}
{#    </div>#}
{##}
{#{% endblock %}#}