<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Head Start -->
    {% include 'base/partials/head.html' %}
    <!-- Head End -->
    <title></title></head>
<body>
<div class="site-container">
    <!-- Header Start -->
    <header>
        {% include 'base/partials/header.html' %}
    </header>
    <!-- Header End -->


    <!-- Main Content Start -->
    <main class="content">
        {% block main_content %}{% endblock %}
    </main>
    <!-- Main Content End -->

    <!-- Footer Start -->
    <footer class="footer">
        {% include 'base/partials/footer.html' %}
    </footer>
    <!-- Footer End -->
</div>
</body>
</html>