<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Head Start -->
    {% include 'base/partials/head.html' %}
    <!-- Head End -->
    <title></title>
</head>
<body>
<div class="site-container">
    <!-- Header Start -->
    <header>
        {% include 'base/partials/header.html' %}
    </header>
    <!-- Header End -->

    <!-- Main Content Start -->
    <main class="content">
        {% block main_content %}{% endblock %}
    </main>
    <!-- Main Content End -->

    <!-- Footer Start -->
    <footer class="footer">
        {% include 'base/partials/footer.html' %}
    </footer>
    <!-- Footer End -->


</div>
{# define the logout URL using a data-* attribute on an HTML element, which can then be accessed by your JavaScript #}
<div id="logout-config" data-logout-url="{% url 'logout-user' %}" style="display:none;"></div>

<!-- JavaScript Libraries Start -->
{% include 'base/partials/js.html' %}
<!-- JavaScript Libraries End -->

</body>
</html>