{% extends 'base/base.html' %}

{% block main_content %}
    <div class="container">
        <h1>Dashboard</h1>
        <ul>
            <li>Charts</li>
            <li>Reports (form DB to csv, from DB to Word or PDF)</li>
            <li>Да има едно празно квадратче пред всяко устройсто, като се сложи чавката да има бутон който от disabled да става активен.
            След като се накликат няколко устройсва, да им се сменя статуса от not reviewed към reviewed.
            </li>
        </ul>
    </div>
{% endblock %}