{% extends 'base/base.html' %}

{% block main_content %}
    <div class="box">
        <p>Total business: {{ object_list.count }}</p>
        <p>Total devices: {{ all_devices }}</p>
    </div>

    <section id="catalogue">
        {% include 'business/partials/create-business-card.html' %}
        {% for owned_business in owned_businesses %}
            {% include 'business/partials/business-card.html' with business=owned_business %}
        {% endfor %}
        {% for not_owned_business in not_owned_businesses %}
            {% include 'business/partials/business-card.html' with business=not_owned_business %}
        {% endfor %}
    </section>
{% endblock %}