{% extends 'base/base.html' %}
{% load static %}

{% block main_content %}

    <!-- Forms container-->
    <div class="backdrop" style="display:none;" onclick="hideForm()"></div>

    <!-- Hidden form for creating Business -->
    <div id="businessFormContainer" data-create-url="{% url 'create-business' %}">
        {% include 'business/partials/business-create-form.html' %}
    </div>
    <div data-edit-business-url="{% url 'edit-business' pk=0 %}"
         data-create-business-url="{% url 'create-business' %}"
         hidden id="devicesUrls"></div>
    
    <!-- Stats -->
    <div class="stats">
        <div class="box">
            <p>Total business: {{ object_list.count }}</p>
            <p>Total devices: {{ all_devices }}</p>
        </div>
    </div>

    <section id="catalogue">
        <h3>Owned Business</h3>
        <div class="owned">
            {% include 'business/partials/create-business-card.html' %}
            {% for owned_business in owned_businesses %}
                {% include 'business/partials/business-card.html' with business=owned_business %}
            {% endfor %}
        </div>
        <h3>Other Business</h3>
        <div class="other">
            {% for not_owned_business in not_owned_businesses %}
                {% include 'business/partials/business-card.html' with business=not_owned_business %}
            {% endfor %}
        </div>
    </section>

    <!-- Business CRUD scripts -->
    <script type="module" src="{% static 'js/business-crud.js' %}"></script>

{% endblock %}