<div id="createSupplierForm" style="display: none">


    <form id="supplierCreateForm" class="supplier-create-form">

        <div class="title-container">
            <h4 class="login-title">Create Supplier</h4>
        </div>

        <div class="inputs">
            <div class="input-group mb-3">
                <span class="input-group-text" id="inputGroup-sizing-default">Supplier name</span>
                <input type="text" id="supplierName" name="name" class="form-control"
                       aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default"
                       placeholder="Enter supplier name.">
            </div>

            <div class="input-group mb-3">
                <span class="input-group-text" id="inputGroup-sizing-default">Contact name</span>
                <input type="text" id="supplierContactName" name="contact_name" class="form-control"
                       aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default"
                       placeholder="Enter the name of supplier contact.">
            </div>

            <div class="input-group mb-3">
                <span class="input-group-text" id="inputGroup-sizing-default">Country</span>
                <input type="text" id="supplierCountryName" name="supplier_country" class="form-control"
                       aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default"
                       placeholder="Enter the country for supplier.">
            </div>

            <div class="input-group mb-3">
                <span class="input-group-text" id="inputGroup-sizing-default">Phone number</span>
                <input type="text" id="supplierPhoneNumber" name="phone_number" class="form-control"
                       aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default"
                       placeholder="Enter the phone number.">
            </div>

            <div class="input-group mb-3">
                <span class="input-group-text" id="inputGroup-sizing-default">Email</span>
                <input type="email" id="supplierEmail" name="email" class="form-control"
                       aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default"
                       placeholder="Enter the email address for supplier.">
            </div>

        </div>

        <div id="errorsSupplierContainer" style="display: none;"></div>

        <div class="button-container form-style">
            <div class="control-buttons"></div>
            <div class="action-buttons">
                <button class="reset-button-style button btn-create" type="submit">Create</button>
                <button class="reset-button-style button btn-cancel" type="button" onclick="hideForm()">Cancel
                </button>
            </div>
        </div>
    </form>
</div>