<div id="deleteSupplierForm" style="display:none;">
    <div class="title-container">
        <h4 class="suppliers-title">Delete Supplier</h4>
    </div>
    <form id="supplierDeleteForm">
        <input type="hidden" id="deleteSupplierId" name="supplierId">
        
        <p id="deleteConfirmationText" style="text-align: center; margin-top: 25%;">Are you sure you want to delete <strong><span id="deleteSupplierName"></span></strong></p>
        
        <div class="button-container form-style">
            <div class="control-buttons"></div>
            <div class="action-buttons">
                <button class="reset-button-style button btn-delete" type="button" onclick="confirmDelete()">
                    Confirm Delete
                </button>
                <button class="reset-button-style button btn-cancel" type="button" onclick="hideDeleteForm()">Cancel
                </button>
            </div>
        </div>
    </form>
</div>