<div id="saveForm" style="display: none">
    <div class="title-container">
        <h2 class="suppliers-title">Create Supplier</h2>
    </div>
    <form id="supplierCreateForm">
        Name: <input type="text" id="supplierName" name="name"><br>
        Contact Name: <input type="text" id="supplierContactName" name="contact_name"><br>
        Phone number: <input type="text" id="supplierPhoneNumber" name="phone_number"><br>
        Eimal: <input type="text" id="supplierEmail" name="email"><br>

        <div class="button-container form-style">
            <div class="control-buttons"></div>
            <div class="action-buttons">
                <button class="reset-button-style button btn-create" type="submit">Create</button>
                <button class="reset-button-style button btn-cancel" type="button" onclick="hideForm()">Cancel
                </button>
            </div>
        </div>
    </form>
</div>