{% load static %}
<div class="dashboard-container">
    <div class="w3-container">
        <h2>Welcome to IT Inventory web application</h2>
        <p>This software was created to assist my colleagues in making their work easier.</p>
    </div>

    <div class="w3-content w3-display-container">
        <img class="mySlides" src="{% static 'img/pic_1.jpg' %}" style="width:100%">
        <img class="mySlides" src="{% static 'img/pic_2.jpg' %}" style="width:100%">
        <img class="mySlides" src="{% static 'img/pic_3.jpg' %}" style="width:100%">
        <img class="mySlides" src="{% static 'img/pic_4.jpg' %}" style="width:100%">
        <img class="mySlides" src="{% static 'img/pic_5.jpg' %}" style="width:100%">
        
        <button class="w3-button w3-black w3-display-left" onclick="plusDivs(-1)">&#10094;</button>
        <button class="w3-button w3-black w3-display-right" onclick="plusDivs(1)">&#10095;</button>
    </div>

    <div>
        <h4>You can start using the application, you just need to register.</h4>
    </div>


</div>