<div id="businessEditFormContainer" style="display:none;">


    <form id="businessEditForm" class="business-edit-form">

        <div class="title-container">
            <h4 class="suppliers-title">Edit Business</h4>
        </div>

        <div class="inputs">
            <input type="hidden" id="editBusinessId" name="businessId">
            
            {% include 'business/partials/business-create-edit-field.html' with f_title='Business name' f_type='text' f_id="editBusinessName" f_name='business_name' f_placeholder='Enter business name' %}
            
            {% include 'business/partials/business-create-edit-field.html' with f_title='Country' f_type='text' f_id="editBusinessCountry" f_name='country' f_placeholder='Enter the country where the business is located' %}

            <div class="form-check form-switch">
                <span class="form-check-label" id="editBusinessIsVisible">Visibility</span>
                <input type="checkbox" id="editBusinessIsVisible" name="is_visible" class="form-check-input"
                       aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
            </div>

        </div>
        
        <div id="errorsEditBusinessContainer" style="display: none;"></div>

        <div class="button-container form-style">
            <div class="control-buttons"></div>
            <div class="action-buttons">
                <button class="reset-button-style button btn-create" type="submit">Save</button>
                <button class="reset-button-style button btn-cancel" type="button" onclick="hideBusinessForm()">Cancel
                </button>
            </div>
        </div>

    </form>
</div>