{% load static %}
<nav class="navbar">
    <div class="nav-container">
        <div class="logo">
            <!-- Link to Home Page -->
            <a href="{% url 'dashboard' %}">
                <img src="{% static '/img/app_logo.png' %}" alt="img1">
            </a>
        </div>

        <div class="nav-links">
            <ul class="nav-group">
                {% if request.user.is_authenticated %}
                    <li class="nav-item">
                        <!-- Link to Add Pet Page -->
                        <a href="{% url 'home-page' %}">Home </a>
                    </li>
                    <li class="nav-item">
                        <!-- Link to Supplier page -->
                        {# TODO: Fix the link to suppliers #}
                        <a href="{% url 'supplier-list' %}">Suppliers </a>
                    </li>
                    <li class="nav-item">
                        <!-- Link to Profile Page -->
                        {% if request.user.profile_pic %}
                            <a href="{% url 'details-profile' %}">{{ request.user.profile_pic }}</a>
                        {% else %}
                            <a href="{% url 'details-profile' %}">{{ request.user.profile.initials }}</a>
                        {% endif %}
                    </li>
                    <li class="nav-item">
                        <!-- Lpg out -->
                        <form action="{% url 'logout-user' %}" method="post">
                            {% csrf_token %}
                            <button class="reset-button-style button" type="submit">Log out</button>
                        </form>
                    </li>
                {% else %}
                    <li class="nav-item">

                        <!-- Link to Login Page -->
                        <a href="{% url 'login-user' %}">
                            <i>Login</i>
                        </a>
                    </li>
                    <li class="nav-item">

                        <!-- Link to Register Page -->
                        <a href="{% url 'register-user' %}">
                            <i>Register</i>
                        </a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>