{% load static %}

<nav class="navbar">
    <div class="nav-container">
        <div class="logo">
            <!-- Link to Home Page -->
            <a href="{% url 'dashboard' %}">
                <img src="{% static '/img/app_logo.png' %}" alt="img1">
            </a>
        </div>

        <div class="nav-links">
            <ul class="nav-group">
                {% if request.user.is_authenticated %}
                    <li class="nav-item">
                        <!-- Link to Home Page -->
                        <a href="{% url 'home-page' %}">Home </a>
                    </li>
                    <li class="nav-item">
                        <div class="dropdown" data-bs-theme="dark">
                            <a
                                    class="dropdown-toggle"
                                    href="#"
                                    role="button"
                                    id="dropdownMenuLink"
                                    data-bs-toggle="dropdown"
                                    aria-expanded="false"

                            >Suppliers</a>

                            <ul class="dropdown-menu dropdown-menu-lg-end" aria-labelledby="dropdownMenuLink">
                                <li><a class="dropdown-item" href="{% url 'supplier-list' %}">List</a></li>
                                <li><a class="dropdown-item" href="{% url 'create-supplier' %}">Add Supplier</a></li>
                            </ul>
                        </div>
                    </li>
                    <li class="nav-item">
                        <div class="dropdown" data-bs-theme="dark">
                            <a
                                    class="dropdown-toggle"
                                    href="#"
                                    role="button"
                                    id="dropdownMenuLink"
                                    data-bs-toggle="dropdown"
                                    aria-expanded="false"
                            >
                                {% if request.user.profile_pic %}
                                    <img class="profile-image" src="{{ request.user.profile_pic }}" alt="Profile">
                                {% else %}
                                    <span class="profile-image initials">{{ request.user.profile.initials }}</span>
                                {% endif %}
                            </a>

                            <ul class="dropdown-menu dropdown-menu-lg-end" aria-labelledby="dropdownMenuLink">
                                <li><h1 class="dropdown-header">{{ request.user }}</h1></li>
                                <li><h1 class="dropdown-header">{{ request.user.profile.full_name }}</h1></li>
                                <li><a class="dropdown-item" href="{% url 'details-profile' %}">Profile</a></li>
                                <li><a class="dropdown-item" href="{% url 'password-change' %}">Change password</a></li>
                                <li><a class="dropdown-item" href="#" id="logout-link">Logout</a></li>
                            </ul>
                        </div>
                    </li>
                {% else %}
                    <li class="nav-item">

                        <!-- Link to Login Page -->
                        <a href="{% url 'login-user' %}">
                            <i>Login</i>
                        </a>
                    </li>
                    <li class="nav-item">

                        <!-- Link to Register Page -->
                        <a href="{% url 'register-user' %}">
                            <i>Register</i>
                        </a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>