{% extends 'base/base.html' %}

{% block main_content %}
    <section>
        <div class="stats">
            <p>Business: {{ object.business_name }}</p>
            <p>Country: {{ object.country }}</p>
            <p>Business owner: {{ object.owner.profile.full_name }}</p>
            <p>Total devices: {{ object.device_set.count }}</p>
        </div>
        {% if request.user.pk == object.owner_id %}
            <div class="button-container">
                <div>
                    <a class="button" href="{% url 'create-device' business_id=business.pk %}">Create device</a>
                    <a class="button" href="{% url 'upload-csv' business_id=object.pk %}">Import device from .csv</a>
                    <a class="button" href="{% url 'edit-business' pk=object.pk %}">Edit Business</a>
                </div>
                <div>
                    <a class="button" href="#">Search</a>
                </div>
            </div>
        {% else %}
            <p></p>
        {% endif %}
        {#        <table class="table table-dark table-hover table-striped">#}
        <table class="table_my">
            <thead>
            <tr>
                <th></th>
                <th>HOSTNAME</th>
                <th>STATUS</th>
                <th>VENDOR</th>
                <th>MODEL</th>
                <th>CATEGORY</th>
                <th>SUB-CATEGORY</th>
                <th>SERIAL NUMBER</th>
                <th>OWNER</th>
                <th>SUPPLIER</th>
            </tr>

            </thead>
            <tbody>
            <tr class="row__my">
                <td>

                </td>
                <td>
                    <input type="text">
                </td>
                <td>
                    <input type="text">
                </td>
                <td>
                    <input type="text">
                </td>
                <td>
                    <input type="text">
                </td>
                <td>
                    <input type="text">
                </td>
                <td>
                    <input type="text">
                </td>
                <td>
                    <input type="text">
                </td>
                <td>
                    <input type="text">
                </td>
                <td>
                    <input type="text">
                </td>
            </tr>


            {% for device in devices %}
                <tr class="row__my">
                    <td><a href="{% url 'edit-device' pk=device.pk %}"><i class="fa-solid fa-pen-to-square"></i></a>
                    </td>
                    <td>{{ device.device_name }}</td>
                    <td>{{ device.status }}</td>
                    <td>{{ device.manufacturer }}</td>
                    <td>{{ device.model }}</td>
                    <td>{{ device.category }}</td>
                    <td>{{ device.sub_category }}</td>
                    <td>{{ device.serial_number }}</td>
                    <td>{{ device.owner_name }}</td>
                    <td>{{ device.supplier }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </section>
{% endblock %}