{% extends 'base/base.html' %}
{% load static %}

{% block main_content %}

    <!-- Forms container-->
    <div class="backdrop" style="display:none;" onclick="hideUploadForm()"></div>

    <!-- Hidden form for device creation -->
    {% include 'devices/partials/device-create-form.html' %}

    <!-- Hidden form for device editing -->
    {% include 'devices/partials/device-edit-form.html' %}

    <!-- Hidden form for device deleting -->
    {% include 'devices/partials/device-delete-form.html' %}

    <!-- Hidden form for business editing -->
    {% include 'business/partials/business-edit-form.html' %}

    <!-- Hidden form for uploading -->
    {% include 'devices/partials/upload-form.html' with business_id=object.pk %}

    <!-- Suppliers data-->
    <div id="data-suppliers" data-suppliers='{{ suppliers_json|safe }}'></div>

    <!-- define the URLs as data attributes -->
    <div data-create-device-url="{% url 'create-device' business_id=object.pk %}"
         data-edit-device-url="{% url 'edit-device' pk=0 %}"
         data-delete-device-url="{% url 'delete-device' pk=0 %}"
         data-edit-business-url="{% url 'edit-business' pk=0 %}"
         hidden id="devicesUrls"></div>

    <!-- Hider input with businessId for device creation -->
    <input hidden id="businessId" type="text" value="{{ object.pk }}">

    <!-- Start Stats -->
    {% include 'business/partials/business-stats.html' %}
    <!-- End Stats -->

    <!-- Handsontable data container -->
    <div id="data-container" data-devices='{{ devices_json|safe }}'></div>

    <!-- Handsontable JS Script-->
    <script src="https://cdn.jsdelivr.net/npm/handsontable/dist/handsontable.full.min.js"></script>
    <script src="{% static 'js/device-handsontable.js' %}"></script>

    <!-- Devices CRUD script -->
    <script type="module" src="{% static 'js/device-crud.js' %}"></script>

    <!-- Business CRUD scripts -->
    <script type="module" src="{% static 'js/business-crud.js' %}"></script>

    <!-- List suppliers for device creation form -->
    <script src="{% static 'js/list-suppliers.js' %}"></script>


    <div class="button-container">
        {% if request.user.pk == object.owner_id %}
            <div class="control-buttons">
                <button class="reset-button-style button btn-download" id="export-file">Download CSV</button>
            </div>
            <div class="action-buttons">
                <a class="button btn-create" type="button" onclick="showCreateForm()">Create device</a>
                <button class="button btn-download" onclick="showUploadForm({{ object.pk }})">Import devices</button>
                <a class="button btn-edit" type="button"
                   data-business-id="{{ business.id }}"
                   data-business-name="{{ business.business_name }}"
                   data-business-country="{{ business.country }}"
                   data-business-is-visible="{{ business.is_visible }}"
                   onclick="showEditBusinessForm(
                       this.getAttribute('data-business-id'),
                       this.getAttribute('data-business-name'),
                       this.getAttribute('data-business-country'),
                       this.getAttribute('data-business-is-visible'))">Edit
                    Business</a>
            </div>
        {% else %}
            <div class="control-buttons">
                <button class="reset-button-style button btn-download" id="export-file">Download CSV</button>
            </div>
        {% endif %}

    </div>

    <!-- Business CRUD scripts -->
    <script type="module" src="{% static 'js/business-crud.js' %}"></script>

    <!-- Upload CSV scripts -->
    <script type="module" src="{% static 'js/device-upload.js' %}"></script>

{% endblock %}