<div id="createSupplierForm" style="display: none">


    <form id="supplierCreateForm" class="supplier-create-form">

        <div class="title-container">
            <h4 class="login-title">Create Supplier</h4>
        </div>
        
        <div class="inputs">

            {% include 'suppliers/partials/supplier-create-edit-field.html' with f_title='Supplier name' f_type='text' f_id='supplierName' f_name='name' f_placeholder='Enter supplier name' %}

            {% include 'suppliers/partials/supplier-create-edit-field.html' with f_title='Contact name' f_type='text' f_id='supplierContactName' f_name='contact_name' f_placeholder='Enter the name of supplier contact' %}

            {% include 'suppliers/partials/supplier-create-edit-field.html' with f_title='Country' f_type='text' f_id='supplierCountryName' f_name='supplier_country' f_placeholder='Enter the country for supplier' %}

            {% include 'suppliers/partials/supplier-create-edit-field.html' with f_title='Phone number' f_type='text' f_id='supplierPhoneNumber' f_name='phone_number' f_placeholder='Enter the phone number' %}

            {% include 'suppliers/partials/supplier-create-edit-field.html' with f_title='Email' f_type='email' f_id='supplierEmail' f_name='email' f_placeholder='Enter the email address for supplier' %}

        </div>

        <div id="errorsSupplierContainer" style="display: none;"></div>

        <div class="button-container form-style">
            <div class="control-buttons"></div>
            <div class="action-buttons">
                <button class="reset-button-style button btn-create" type="submit">Create</button>
                <button class="reset-button-style button btn-cancel" type="button" onclick="hideForm()">Cancel
                </button>
            </div>
        </div>
    </form>
</div>