{% extends 'base/base.html' %}
{% load static %}

{% block main_content %}

    <!-- Forms container-->
    <div class="backdrop" style="display:none;" onclick="hideForm()"></div>

    <!-- Hidden form for creating Business -->
    <div id="businessFormContainer" data-create-url="{% url 'create-business' %}">
        {% include 'business/partials/business-create-form.html' %}
    </div>
    <div data-edit-business-url="{% url 'edit-business' pk=0 %}"
         data-create-business-url="{% url 'create-business' %}"
         hidden id="devicesUrls"></div>

    <div class="home-wrapper">

        <!-- Stats -->
        <div class="business-stats">
            <div class="title-container">
                <h3>Stats</h3>
            </div>
            <div class="box">
                <h5>Businesses</h5>
                <div class="table-location">
                    <h1>{{ object_list.count }}</h1>
                </div>
            </div>

            <div class="box">
                <h5>Total devices</h5>
                <div class="table-location">
                    <h1>{{ all_devices }}</h1>
                </div>
            </div>

            <div class="box">
                <h5>Engineers</h5>
                <div class="table-location">
                    <h1>{{ all_engineers }}</h1>
                </div>
            </div>

            <div class="box">
                <h5>Suppliers</h5>
                <div class="table-location">
                    <h1>{{ total_suppliers }}</h1>
                </div>
            </div>

        </div>

        <section id="catalogue">
            {#        <div class="title-container">#}
            <h3>Owned Businesses</h3>
            {#        </div>#}
            <div class="owned">
                {% include 'business/partials/create-business-card.html' %}
                {% for owned_business in owned_businesses %}
                    {% include 'business/partials/business-card.html' with business=owned_business %}
                {% endfor %}
            </div>

            {% if not not_owned_business %}
                {#            <div class="title-container">#}
                <h3>Other Businesses</h3>
                {#            </div>#}
                <div class="other">
                    {% for not_owned_business in not_owned_businesses %}
                        {% include 'business/partials/business-card.html' with business=not_owned_business %}
                    {% endfor %}
                </div>
            {% endif %}
        </section>

    </div>

    <!-- Business CRUD scripts -->
    <script type="module" src="{% static 'js/business-crud.js' %}"></script>

{% endblock %}