<div id="createForm" style="display: none">

    <form id="deviceCreateForm" class="device-create-form" enctype="multipart/form-data">

        <div class="title-container">
            <h4>Create Device</h4>
        </div>

        <div class="device-info">

            <h4 class="sub-title">Device</h4>

            {% include 'devices/partials/device-create-edit-filed.html' with f_title='Hostname' f_type='text' f_id='deviceName' f_name='device_name' f_placeholder='Device hostname' f_class='important' %}

            {% include 'devices/partials/device-create-edit-filed.html' with f_title='Domain' f_type='text' f_id='deviceDomain' f_name='domain' f_placeholder='Domain if existing' f_class='' %}

            {% include 'devices/partials/device-create-edit-filed.html' with f_title='Description' f_type='text' f_id='deviceDescription' f_name='description' f_placeholder='Short description' f_class='' %}

            <div class="input-group input-group-sm mb-3">
                <span class="input-group-text" id="inputGroup-sizing-sm">Status</span>
                <select id="deviceStatus" name="status" class="form-control">
                    <option value="In operation">In operation</option>
                    <option value="Decommissioned">Decommissioned</option>
                    <option value="Pending Setup">Pending Setup</option>
                    <option value="Offline">Offline</option>
                    <option value="Not defined yet">Not defined yet</option>
                    <option value="Exception">Exception</option>
                </select>
            </div>

            {% include 'devices/partials/device-create-edit-filed.html' with f_title='Manufacturer' f_type='text' f_id='deviceManufacturer' f_name='manufacturer' f_placeholder='Device manufacturer' f_class='' %}

            {% include 'devices/partials/device-create-edit-filed.html' with f_title='Model' f_type='text' f_id='deviceModel' f_name='model' f_placeholder='Device model' f_class='' %}

            {% include 'devices/partials/device-create-edit-filed.html' with f_title='IP Address' f_type='text' f_id='deviceIpAddress' f_name='ip_address' f_placeholder='Device IP address' f_class='' %}

            {% include 'devices/partials/device-create-edit-filed.html' with f_title='IP Address Second' f_type='text' f_id='deviceIpAddressSecondary' f_name='ip_address_sec' f_placeholder='Device second IP address' f_class='' %}

            {% include 'devices/partials/device-create-edit-filed.html' with f_title='Operating System' f_type='text' f_id='deviceOperatingSystem' f_name='operating_system' f_placeholder='Device operating system' f_class='' %}

            {% include 'devices/partials/device-create-edit-filed.html' with f_title='Building' f_type='text' f_id='deviceBuilding' f_name='building' f_placeholder='Building / Location of device' f_class='' %}

            <div class="input-group input-group-sm mb-3">
                <span class="input-group-text" id="inputGroup-sizing-sm">Category</span>
                <select id="deviceCategory" name="category" class="form-control">
                    <option value="Network">Network</option>
                    <option value="Server - Virtual">Server - Virtual</option>
                    <option value="Server - Physical">Server - Physical</option>
                    <option value="Server - Platform">Server - Platform</option>
                    <option value="Printer/Scanner">Printer/Scanner</option>
                    <option value="Storage">Storage</option>
                    <option value="Conferencing">Conferencing</option>
                    <option value="End Users Computing">End Users Computing</option>
                    <option value="AirCon">AirCon</option>
                    <option value="UPS">UPS</option>
                    <option value="Other">Other</option>
                </select>
            </div>

            <div class="input-group input-group-sm mb-3">
                <span class="input-group-text" id="inputGroup-sizing-sm">Sub Category</span>
                <select name="sub_category" id="deviceSubCategory" class="form-control">
                    <option value="Router">Router</option>
                    <option value="Firewall">Firewall</option>
                    <option value="Firewall/IDS/IPS">Firewall/IDS/IPS</option>
                    <option value="Access Point">Access Point</option>
                    <option value="Switch">Switch</option>
                    <option value="Desktop">Desktop</option>
                    <option value="Laptop">Laptop</option>
                    <option value="Printer/MFP">Printer/MFP</option>
                    <option value="Scanner">Scanner</option>
                    <option value="IP Phone">IP Phone</option>
                    <option value="Teleconferencing/Modem">Teleconferencing/Modem</option>
                    <option value="VoIP System - Cisco CM">VoIP System - Cisco CM</option>
                    <option value="VoIP System - other">VoIP System - other</option>
                    <option value="App and DB Server">App and DB Server</option>
                    <option value="Application Server">Application Server</option>
                    <option value="Database Server">Database Server</option>
                    <option value="File Server">File Server</option>
                    <option value="Other Server">Other Server</option>
                    <option value="Backup device">Backup device</option>
                    <option value="Storage - NAS">Storage - NAS</option>
                    <option value="Storage - SAN">Storage - SAN</option>
                    <option value="Data Historian">Data Historian'</option>
                    <option value="Human Machine Interface (HMI)">Human Machine Interface (HMI)</option>
                    <option value="IDS/IPS Detection">IDS/IPS Detection</option>
                    <option value="Master Terminal Unit (MTU)">Master Terminal Unit (MTU)</option>
                    <option value="Programmable Logic Controller (PLC)">Programmable Logic Controller (PLC)</option>
                    <option value="Remote Access">Remote Access</option>
                    <option value="Remote Terminal Unit (RTU)">Remote Terminal Unit (RTU)</option>
                    <option value="Other hardware">Other hardware</option>
                </select>
            </div>

            {% include 'devices/partials/device-create-edit-filed.html' with f_title='Serial Number' f_type='text' f_id='deviceSerialNumber' f_name='serial_number' f_placeholder='Device unique serial number' f_class='important' %}

            {% include 'devices/partials/device-create-edit-filed.html' with f_title='Owner' f_type='text' f_id='deviceOwnerName' f_name='owner_name' f_placeholder='Person who use / own device' f_class='' %}

        </div>

        <div class="support-info">

            <h4 class="sub-title">Support</h4>

            {% include 'devices/partials/device-create-edit-filed.html' with f_title='Support Model' f_type='text' f_id='deviceSupportModel' f_name='support_model' f_placeholder='Short desc of device support model' f_class='' %}

            {% include 'devices/partials/device-create-edit-filed.html' with f_title='PO Number' f_type='text' f_id='devicePurchaseOrderNumber' f_name='purchase_order_number' f_placeholder='Purchase order number' f_class='' %}

            <div class="input-group input-group-sm mb-3">
                <span class="input-group-text" id="inputGroup-sizing-sm">Invoice Image</span>
                <input type="file" id="deviceInvoiceImage" name="invoice_img" class="form-control">
            </div>

            {% include 'devices/partials/device-create-edit-filed.html' with f_title='Start Of Support' f_type='date' f_id='deviceStartOfSupport' f_name='sos' f_placeholder='' f_class='' %}
            
            {% include 'devices/partials/device-create-edit-filed.html' with f_title='End Of Support' f_type='date' f_id='deviceEndOfSupport' f_name='eos' f_placeholder='' f_class='' %}
            
            {% include 'devices/partials/device-create-edit-filed.html' with f_title='End Of Life' f_type='date' f_id='deviceEndOfLife' f_name='eol' f_placeholder='' f_class='' %}

            <div class="input-group input-group-sm mb-3">
                <span class="input-group-text" id="inputGroup-sizing-sm">Supplier</span>
                <select name="supplier" id="deviceSupplier" class="form-control">
                </select>
            </div>
            
        </div>

        <div class="risk-info">

            <h4 class="sub-title">Risk</h4>
        
        {% include 'devices/partials/device-create-edit-filed.html' with f_title='Process At Risk' f_type='text' f_id='deviceBusinessProcessAtRisk' f_name='business_processes_at_risk' f_placeholder='Short desc of device support model' f_class='' %}

            <div class="input-group input-group-sm mb-3">
                <span class="input-group-text" id="inputGroup-sizing-sm">Impact</span>
                <select name="impact" id="deviceImpact" class="form-control">
                    {% for i in '12345' %}
                        <option value="{{ i }}">{{ i }}</option>
                    {% endfor %}
                </select>
            </div>

            <div class="input-group input-group-sm mb-3">
                <span class="input-group-text" id="inputGroup-sizing-sm">Likelihood</span>
                <select name="likelihood" id="deviceLikelihood" class="form-control">
                    {% for i in '12345' %}
                        <option value="{{ i }}">{{ i }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>

        <div id="errorsContainer" style="display: none;"></div>

        <div class="button-container form-style">
            <div class="control-buttons"></div>
            <div class="action-buttons">
                <button class="button btn-create" type="button" onclick="submitDeviceForm()">Create</button>
                <button class="reset-button-style button btn-cancel" type="button" onclick="hideForm()">Cancel
                </button>
            </div>
        </div>
    </form>
</div>