<form id="uploadCSVForm" enctype="multipart/form-data" data-business-id="{{ business_id }}">
    <div class="upload-wrapper">

        <div style="border: 2px solid var(--background-color); padding: 4px 12px;margin-bottom: 10px;">
            <input id="inputFieldId" type="file" name="csv_file" accept=".xlsx">
        </div>

        <div id="uploadDescription">
            <p>Please download the prepared template from the "Download template file" button, through which you can
                more
                easily
                import your devices. </p>
            <p> Follow the requirements specified in the top row for each field, with the understanding
                that for easier importing, only the "Hostname" field is mandatory.</p>
        </div>

        <div id="importResults">
            <h5>Import Results</h5>
            <ul id="importResultsList"></ul>
        </div>

        <div id="uploadMessage" class="upload-message">
            <p>Please, first choose a file and after that click the button "Upload".</p>
        </div>

        <div class="button-container">
            <div class="control-buttons">
                <div class="control-buttons">
                    <a class="button btn-download" href="{% url 'download-template' %}">Download template file</a>
                </div>
            </div>
            <div class="action-buttons">
                <button id="upload-button" class="reset-button-style button btn-create" type="submit">Upload</button>
                <button id="cancel-button" class="reset-button-style button btn-cancel" type="button"
                        onclick="hideUploadForm()">Cancel
                </button>
                <button id="close-button" class="reset-button-style button btn-cancel" type="button"
                        style="display: none"
                        onclick="hideUploadForm()">Close
                </button>
            </div>
        </div>
    </div>
</form>
