header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2%;
    background: var(--background-color);
    box-shadow: rgba(0, 0, 0, 0.35) 0 5px 15px;
}

.link-item,
.link-item-link {
    font-weight: 500;
    font-size: 22px;
    color: var(--text-color);
    text-decoration: none;
}

.logo {
    height: 60px;
    width: 60px;
    background: transparent;
    color: var(--text-color);
}

.nav-links {
    list-style: none;
    margin: 0;
}

.nav-links li {
    display: inline-block;
    padding: 0 20px;
}

.nav-links li a {
    transition: all 0.3s ease 0s;
}

.nav-links li:hover {
    background: coral;
    transition: all 0.3s ease 0s;
}


/*Menu for Profile*/
.profile-image {
    display: inline-block;
    height: 40px;
    width: 40px;
    text-align: center;
    /*padding: 4px 8px 4px 7px;*/
    border-radius: 50%;
}

.dropdown {
    text-decoration: none;
    display: inline-block;
    background: var(--background-color);
    color: black;
}

.initials {
    display: inline-block;
    background: var(--primary-color);
    color: var(--background-color);
    width: 40px;
    font-size: 24px;
    font-weight: 600;
    margin: auto;
    padding: 4px 2px;
}

.dropdown-menu {
    color: black;
}

.dropdown-toggle::after {
    content: none;
}

.dropdown-item {
    font-size: 16px;
}

.nav-group .nav-item .dropdown-menu .dropdown-item {
    font-size: 16px;
    color: black;
}


[data-bs-theme="dark"] {
    --bs-body-color: var(--background-color);
    --bs-body-color-rgb: #{to-rgb($white)};
    --bs-body-bg: var(--text-color);
    --bs-body-bg-rgb: #{to-rgb($blue)};
    --bs-tertiary-bg: #{$blue-600};

    .dropdown {
        --bs-dropdown-bg: #{mix($blue-500, $blue-600)};
        --bs-dropdown-link-active-bg: #{$blue-700};
    }

    .btn-secondary {
        --bs-btn-bg: #{mix($gray-600, $blue-400, .5)};
        --bs-btn-border-color: #{rgba($white, .25)};
        --bs-btn-hover-bg: #{darken(mix($gray-600, $blue-400, .5), 5%)};
        --bs-btn-hover-border-color: #{rgba($white, .25)};
        --bs-btn-active-bg: #{darken(mix($gray-600, $blue-400, .5), 10%)};
        --bs-btn-active-border-color: #{rgba($white, .5)};
        --bs-btn-focus-border-color: #{rgba($white, .5)};
        --bs-btn-focus-box-shadow: 0 0 0 .25rem rgba(255, 255, 255, .2);
    }
}

@media (max-height: 1080px) {
    .link-item,
    .link-item-link {
        font-size: 18px;
    }

    .logo {
        height: 40px;
        width: 40px;
    }

    .initials {
        width: 30px;
        height: 30px;
        font-size: 18px;

    }
}