{% load static %}

{% if organization and request.user.is_superuser %}
    {% if organization.logo %}
        <a href="{% url 'edit-organization' pk=1 %}"><img class="logo" src="{{ organization.logo.url }}" alt="logo"></a>
    {% else %}
        <a href="{% url 'edit-organization' pk=1 %}"><img class="logo" src="{% static 'img/app_logo.svg' %}" alt="logo"></a>
    {% endif %}
{% else %}
    {% if organization.logo %}
        <img class="logo" src="{{ organization.logo.url }}" alt="logo">
    {% else %}
        <img class="logo" src="{% static 'img/app_logo.svg' %}" alt="logo">
    {% endif %}
{% endif %}

<nav>
    <ul class="nav-links">
        {% if request.user.is_authenticated %}
            <li class="link-item"><a class="link-item-link" href="{% url 'dashboard' %}">Dashboard</a></li>
            <li class="link-item"><a class="link-item-link" href="{% url 'home-page' %}">Home</a></li>
            <li class="link-item"><a class="link-item-link" href="{% url 'supplier-list' %}">Suppliers</a></li>
        {% else %}
            <li class="link-item"><a class="link-item-link" href="{% url 'login-user' %}">Login</a></li>
            <li class="link-item"><a class="link-item-link" href="{% url 'register-user' %}">Register</a></li>
        {% endif %}
    </ul>
</nav>
{% if request.user.is_authenticated %}
    <div class="dropdown" data-bs-theme="dark">

        <a
                class="dropdown-toggle"
                href="#"
                role="button"
                id="dropdownMenuLink"
                data-bs-toggle="dropdown"
                aria-expanded="false"
        >
            {% if request.user.profile.profile_pic %}
                <img class="profile-image" src="{{ request.user.profile.profile_pic.url }}" alt="Profile">
            {% else %}
                <p class="profile-image initials">{{ request.user.profile.initials }}</p>
            {% endif %}
        </a>

        <ul class="dropdown-menu dropdown-menu-lg-end" aria-labelledby="dropdownMenuLink">
            <li><h1 class="dropdown-header">{{ request.user }}</h1></li>
            <li><a class="dropdown-item" href="{% url 'details-profile' %}">Profile</a></li>
            <li><a class="dropdown-item" href="{% url 'edit-report' %}">Report</a></li>
            <li><a class="dropdown-item" href="{% url 'password-change' %}">Change password</a></li>
            <li><a class="dropdown-item" href="{% url 'logout-user' %}">Logout</a></li>
        </ul>
    </div>

{% endif %}