/*==================== GOOGLE FONTS ====================*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

/*==================== VARIABLES CSS ====================*/
:root {
    /*========== Colors ==========*/
    --text-color: #000000;
    --bg-color: #282828;

    /*========== Font and typography ==========*/
    --body-font: 'Poppins', sans-serif;
    --normal-font-size: 1rem;

}


.business-card {
    position: relative;
    display: flex;
    justify-content: center; /* Aligns horizontally */
    align-items: center; /* Aligns vertically */
    flex-direction: column;
    font-weight: bold;
    width: 200px;
    height: 200px;
    padding: 20px 20px;
    /*border: 2px solid black;*/
    border-radius: 10px;
    background: var(--background-color);
    color: var(--text-color);
    cursor: pointer;
}

.create-business {
    background: green;
}

.business-card:hover {
    background: lightgray;
    color: var(--background-color);
}

.business-icon {
    position: absolute;
    top: 20px;
    left: 20px;
}

.fa-industry {
    font-size: 2em;
    font-weight: 900;
}

.business-link {
    font-size: 1.5em;
    margin: 0;
}

.hidden {
    position: absolute;
    bottom: 20px;
    right: 20px;
}

.red {
    color: red;
}

.plus {
    margin: 0;
    font-size: 4em;
}