:root {
    /*========== Colors ==========*/
    --text-color: #000000;
    --bg-color: #282828;
}


.business-card {
    position: relative;
    display: flex;
    justify-content: center; /* Aligns horizontally */
    align-items: center; /* Aligns vertically */
    flex-direction: column;
    font-weight: bold;
    width: 200px;
    height: 200px;
    padding: 20px 20px;

    box-shadow: rgba(0, 0, 0, 0.35) 0 5px 15px;

    background: var(--background-color);
    color: var(--text-color);
    cursor: pointer;
}

.create-business {
    background: green;
}

.business-card:hover {
    background: lightgray;
    color: var(--background-color);
    transition: background 0.3s;
    /* Shake animation */
    animation: shake 0.82s cubic-bezier(.36, .07, .19, .97) both;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;
}

/* Shake animation */
@keyframes shake {
    10%, 90% {
        transform: translate3d(-1px, 0, 0);
    }

    20%, 80% {
        transform: translate3d(2px, 0, 0);
    }

    30%, 50%, 70% {
        transform: translate3d(-2px, 0, 0);
    }

    40%, 60% {
        transform: translate3d(2px, 0, 0);
    }
}

.business-icon {
    position: absolute;
    top: 20px;
    left: 20px;
}

.fa-industry {
    font-size: 2em;
    font-weight: 900;
    color: coral;
}

.business-link {
    font-size: 1.5em;
    margin: 0;
}

.hidden {
    position: absolute;
    bottom: 20px;
    right: 20px;
}

.red {
    color: red;
}

.plus {
    margin: 0;
    font-size: 4em;
}