:root {
    --create-border: #198754;
    --create-border-hover: #157347;

    --cancel-border: #ffc107;
    --cancel-border-hover: #ffca2e;

    --donwload-border: #f8f9fa;
    --donwload-border-hover: #d3d4d5;

    --delete-border: #dc3545;
    --delete-border-hover: #bb2d3b;

    --edit-border: #0d6efd;
    --edit-border-hover: #0a58ca;
}

.reset-button-style {
    border: none;
    margin: 0;
    padding: 0;
    width: auto;
    overflow: visible;
    background: transparent;

    /* inherit font & color from ancestor */
    color: inherit;
    font: inherit;

    /* Normalize `line-height`. Cannot be changed from `normal` in Firefox 4+. */
    line-height: normal;
}

.button-container {
    width: 100%;
    padding: 0 10px; /* Keep your padding */
    box-sizing: border-box; /* This ensures padding is included in the width */
    display: flex;
    justify-content: space-between;
    border: 2px solid var(--background-color); /* Example border */
    box-shadow: rgba(0, 0, 0, 0.35) 0 5px 15px;
}

/*.form-style {*/
/*    width: auto;*/
/*    position: absolute;*/
/*    bottom: 20px;*/
/*}*/

.control-buttons {
    display: flex;
    gap: 5px;
}

.action-buttons {
    display: flex;
    gap: 5px;
}

.button {
    background: var(--background-color);
    text-decoration: none;
    padding: 0 12px;
    margin: 6px 0;
    font-size: 1em;
}

.btn-create {
    background: var(--create-border);
    border: 2px solid var(--create-border);
    transition: border-color 0.3s;
    color: var(--text-color);
    font-weight: bold;
}

.btn-create:hover {
    background: var(--create-border-hover);
}

.btn-cancel {
    border: 2px solid transparent;
    transition: border-color 0.3s;
    background: darkgrey;
    color: var(--background-color);
    font-weight: bold;
}

.btn-cancel:hover {
    border: 2px solid var(--cancel-border-hover);
}

.btn-download {
    border: 2px solid transparent;
    transition: border-color 0.3s;
    background: darkgrey;
    color: var(--background-color);
    font-weight: bold;
}

.btn-download:hover {
    border: 2px solid var(--donwload-border);
}

.btn-delete {
    border: 2px solid transparent;
    transition: border-color 0.3s;
    background: darkgrey;
    color: var(--background-color);
    font-weight: bold;
}

.btn-delete:hover {
    border: 2px solid var(--delete-border-hover);
}

.btn-edit {
    border: 2px solid transparent;
    transition: border-color 0.3s;
    background: darkgrey;
    color: var(--background-color);
    font-weight: bold;
}

.btn-edit:hover {
    border: 2px solid var(--edit-border-hover);
}