/* ---------------------
  Dashboard not logged in
------------------------ */
.dashboard-container {
    height: 85vh;
    display: flex;
    flex-direction: column;
    text-align: center;
    width: auto;
    justify-content: space-between;
    padding: 5% 0;
}

.mySlides {
    display:none;
    border: 2px solid var(--background-color);
    padding: 20px;
}
.w3-left, .w3-right, .w3-badge {cursor:pointer}
.w3-badge {height:13px;width:13px;padding:0}



/* ---------------------
        Table
------------------------ */
.dashboard-table {
    border: 2px solid var(--background-color);
    box-shadow: rgba(0, 0, 0, 0.35) 0 5px 15px;
    width: 100%;
    height: 100%;
    font-size: 0.9em;
    margin: auto;
}

.dashboard-table th {
    border-right: 2px solid var(--background-color);
    border-left: 2px solid var(--background-color);
    text-align: center;
}

.dashboard-table th:last-child,
.dashboard-table td:last-child,
.totals {
    background: var(--background-color);
    color: var(--text-color)
}

.dashboard-table tr {
    border: 2px solid var(--background-color);
}

.dashboard-table td {
    border-right: 2px solid var(--background-color);
    font-weight: 500;
    text-align: center;
}

.dashboard-table .business-name {
    padding-left: 5px;
    text-align: start;
}

/*---------------------------
        Chart
-----------------------------*/
.pie-carts {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
}

.bar-chart {
    margin-top: 30px;
    padding: 10px;
    border: 2px solid var(--background-color);
    box-shadow: rgba(0, 0, 0, 0.35) 0 5px 15px;
}

#bar {
    height: 630px !important;
}

#chart_one,
#chart_two,
#chart_three {
    width: 350px !important;
    height: 350px !important;
    display: block;
    box-sizing: border-box;
    gap: 20px;

}

.chart-legend {
    padding: 5px 25px;
    border: 2px solid var(--background-color);
    box-shadow: rgba(0, 0, 0, 0.35) 0 5px 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.chart-legend:hover {
    background: lightgray;
    color: var(--background-color);
    transition: background 0.3s;
    /* Shake animation */
    animation: shake 0.82s cubic-bezier(.36, .07, .19, .97) both;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;
}

/* Shake animation */
@keyframes shake {
    10%, 90% {
        transform: translate3d(-1px, 0, 0);
    }

    20%, 80% {
        transform: translate3d(2px, 0, 0);
    }

    30%, 50%, 70% {
        transform: translate3d(-2px, 0, 0);
    }

    40%, 60% {
        transform: translate3d(2px, 0, 0);
    }
}

#legend_one,
#legend_two,
#legend_three {
    margin: auto;
    font-size: 0.77em;
    font-weight: 500;
}


.legend-dot {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    display: inline-block;
    margin-right: 3px;
}
