#deviceCreateForm,
#deviceEditForm {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.device-info,
.support-info,
.risk-info {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
}

.input-group-sm {
    flex-basis: 32%;
}

.date-field {
    flex-basis: 32%;
    margin-right: 1.5em;
}

#existingInvoiceLink {
    flex-basis: 32%;
    margin-bottom: 1em;
}

.sub-title {
    display: inline-block;
    width: 100%;
    font-size: 1.2em;
}

#errorsContainer,
#errorsEditContainer,
#errorsEditBusinessContainer {
    width: 100%;
    text-align: center;
    color: red;
}

@media (max-height: 1080px) {
    #deviceCreateForm .input-group,
    #deviceEditForm .input-group {
        font-size: 14px !important;
        margin-bottom: 8px !important;
    }

    #deviceCreateForm .input-group-text,
    #deviceEditForm .input-group-text {
        padding: 2px 4px;
    }

    #deviceEditForm .action-title,
    #deviceCreateForm .action-title {
        font-size: 20px;
    }

    #deviceEditForm .sub-title,
    #deviceCreateForm .sub-title {
        font-size: 16px;
    }
}
