/* Backdrop styles */
.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    z-index: 10;
}

/* Edit and Save form styles */
#editForm,
#createForm,
#deleteForm,
#uploadCSVForm {
    width: 80%;
    height: 55%;

    position: fixed; /* Position relative to the viewport */
    top: 50%; /* Center vertically */
    left: 50%; /* Center horizontally */
    transform: translate(-50%, -50%); /* Adjust the centering */
    z-index: 1000; /* Above the backdrop */
    background-color: darkgrey; /* Ensure the form is visible against the backdrop */
    padding: 20px; /* Add some padding */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Optional: Adds a subtle shadow */
    display: none; /* Hidden by default */
}

#tableOne,
#tableTwo,
#tableThree {
    width: 80%;
    height: 28%;

    position: fixed; /* Position relative to the viewport */
    top: 50%; /* Center vertically */
    left: 50%; /* Center horizontally */
    transform: translate(-50%, -50%); /* Adjust the centering */
    z-index: 1000; /* Above the backdrop */
    background-color: darkgrey; /* Ensure the form is visible against the backdrop */
    padding: 20px; /* Add some padding */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Optional: Adds a subtle shadow */
    display: none; /* Hidden by default */
}

.small {
    width: 40%;
    height: 40%;
}


.title-container {
    border: 2px solid var(--background-color);
    box-shadow: rgba(0, 0, 0, 0.35) 0 5px 15px;
    margin-bottom: 20px;
}

.title-container h4,
.title-container h3 {
    text-align: center;
    line-height: 1;
    margin: 6px 0;
}

#errorsSupplierContainer,
#errorsSupplierEditContainer,
#errorsDeleteConfirmContainer {
    position: absolute;
    bottom: 12%;
    color: red;
    font-size: 0.9rem;
    text-align: left;
    margin: auto;
}

#errorsSupplierContainer p,
#errorsSupplierEditContainer p,
#errorsDeleteConfirmContainer p {
    padding: 0;
    margin: 0;
}