.home-wrapper {
    display: flex;
    flex-direction: row;

    gap: 40px;
}

.business-stats {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 2px solid var(--background-color);
    padding: 20px;
    height: 88vh;
}

.business-stats .title-container {
    text-align: center;
    margin: 0;
}

#catalogue {
    width: 80%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.owned,
.other {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

@media (max-height: 1080px) {
    .business-stats .title-container h3 {
        font-size: 18px;
    }

    .business-stats h5 {
        font-size: 16px;
    }

    .business-stats .box {
        height: 180px;
        width: 230px;
    }
}