.navbar {
    /*position: fixed;*/
    /*z-index: 100000;*/
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--background-color);
    padding: 0;
}

.logo img {
    height: 50px;
    background: transparent;
    color: inherit;
    /*border: 1px solid red; !* Just for testing *!*/
}


.nav-container {
    padding: 5px 0;
    width: 95%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-links {
    font-weight: lighter;
    color: var(--text-color);
}

.nav-group .nav-item {
    list-style-type: none;
    margin: 0 8px;
}

.nav-group .nav-item a {
    font-size: 22px;
    display: block;
    color: var(--text-color);
    text-decoration: none;
    padding: 0 8px;
}

.nav-group .nav-item button {
    font-size: 22px;
}

.nav-group {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
}

.nav-item {
    background: transparent;
}

/*.nav-item img {*/
/*    background-color: transparent;*/
/*    border-radius: 50%;*/
/*    display: inline-block;*/
/*    width: 30px;*/
/*    height: 30px;*/
/*}*/

