.navbar {
    /*position: fixed;*/
    /*z-index: 100000;*/
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--background-color);
    padding: 0;
    box-shadow: rgba(0, 0, 0, 0.35) 0 5px 15px;
}

.logo img {
    height: 50px;
    background: transparent;
    color: inherit;
    /*border: 1px solid red; !* Just for testing *!*/
}


.nav-container {
    padding: 5px 0;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-links {
    font-weight: lighter;
    color: var(--text-color);
}

.nav-group {
    display: flex;
    gap: 24px;
}


.nav-group .nav-item {
    list-style-type: none;
    /*margin: 0 8px;*/
}

.nav-group .nav-item a {
    font-size: 22px;
    display: block;
    color: var(--text-color);
    text-decoration: none;
    /*padding: 0 8px;*/
}

.nav-group .nav-item button {
    font-size: 22px;
}

.nav-group {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
}

.nav-item {
    background: transparent;
    margin: 0;
    padding: 0;

}

/*Menu for Profile*/
.profile-image {
    display: inline-block;
    height: 40px;
    width: 40px;
    text-align: center;
    /*margin: 4px 8px;*/
    padding: 4px 8px 4px 7px;
    border-radius: 50%;
}


.dropdown {
    text-decoration: none;
    display: inline-block;
    background: var(--background-color);
    border-radius: 50%;
    /*border: 1px solid black;*/
    color: black;
}

.initials {
    display: inline-block;
    background: var(--primary-color);
    color: var(--background-color);
    width: 40px;
}


.dropdown-menu {
    color: black;
}

.dropdown-toggle::after {
    content: none;
}

.nav-group .nav-item .dropdown-menu .dropdown-item {
    font-size: 16px;
    color: black;
}

[data-bs-theme="dark"] {
  --bs-body-color: var(--background-color);
  --bs-body-color-rgb: #{to-rgb($white)};
  --bs-body-bg: var(--text-color);
  --bs-body-bg-rgb: #{to-rgb($blue)};
  --bs-tertiary-bg: #{$blue-600};

  .dropdown {
    --bs-dropdown-bg: #{mix($blue-500, $blue-600)};
    --bs-dropdown-link-active-bg: #{$blue-700};
  }

  .btn-secondary {
    --bs-btn-bg: #{mix($gray-600, $blue-400, .5)};
    --bs-btn-border-color: #{rgba($white, .25)};
    --bs-btn-hover-bg: #{darken(mix($gray-600, $blue-400, .5), 5%)};
    --bs-btn-hover-border-color: #{rgba($white, .25)};
    --bs-btn-active-bg: #{darken(mix($gray-600, $blue-400, .5), 10%)};
    --bs-btn-active-border-color: #{rgba($white, .5)};
    --bs-btn-focus-border-color: #{rgba($white, .5)};
    --bs-btn-focus-box-shadow: 0 0 0 .25rem rgba(255, 255, 255, .2);
  }
}