.stats {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 20px;
}

h5 {
    text-align: center;
    margin-bottom: 20px;
}

.box {
    height: 230px;
    width: 260px;

    box-shadow: rgba(0, 0, 0, 0.35) 0 5px 15px;
    background: var(--background-color);
    padding: 10px;
    color: var(--text-color);
}

.box a{
    text-decoration: none;
}

/* Styling for links in boxes*/
.box .count-no-support {
    width: 100%;
    padding: 1px 2px;
    background: green;
    color: var(--text-color);
}

.box .count-support {
    color: var(--text-color);
}

table {
    width: 100%;
}

