@import "nav.css";
@import "content.css";
@import "business-card.css";
@import "create_device.css";
@import "profile.css";
@import "stats.css";
@import "buttons.css";
@import "business.css";
@import "table.css";
@import "supplier-edit-form.css";
@import "suppliers.css";

:root {
    --background-color: #373737;
    --primary-color: #ACBABF;
    --secondary-color: #6c757d;
    --text-color: #c0c0c2;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    margin: 0;
    background: darkgrey;
    font-family: "Open Sans", sans-serif;
}

.site-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Make sure container takes up at least the height of the viewport */
}

.content {
    flex: 1; /* Makes the content area grow to occupy the available space */
    display: flex;
    flex-direction: column; /* Optional: Depends on your layout */
}


.footer {
    text-align: center;
    background: var(--background-color);
    color: var(--text-color);
    padding: 10px 0; /* Add some padding for aesthetics */
}
