/* Backdrop styles */
.backdrop {
    position: fixed; /* Position relative to the viewport */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black */
    display: none; /* Hidden by default */
    z-index: 10; /* Ensure it's above other content */
}

/* Edit and Save form styles */
#editForm,
#createForm,
#deleteForm,
#uploadCSVForm {
    width: 80%;
    height: 50%;

    position: fixed; /* Position relative to the viewport */
    top: 50%; /* Center vertically */
    left: 50%; /* Center horizontally */
    transform: translate(-50%, -50%); /* Adjust the centering */
    z-index: 1000; /* Above the backdrop */
    background-color: darkgrey; /* Ensure the form is visible against the backdrop */
    padding: 20px; /* Add some padding */
    /*border-radius: 5px; !* Optional: Adds rounded corners *!*/
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Optional: Adds a subtle shadow */
    display: none; /* Hidden by default */
}

