:root {
    --background: #000;
    --color: #FFF;
    --table-border-color: #444;
    --table-header-background: #262626;
    --table-header-color: #FFF;
    --background-color-row-odd: #0D0D0D;
    --background-color-row-even: #0D0D0D;
    --background-color-row-first: #0D0D0D;
    --cell-color: #0D0D0D;
    --cell-selected-color: #222;
    --ctx-background: #111;
    --ctx-background-hover: #222;
    --scroll-track: #111;
    --scroll-thumb: #575757;
    --scroll-thumb-hover: #575757;
}


#data-container {
    font-size: 1.5em;
    border-top: thin solid var(--table-border-color);
    border-bottom: thin solid var(--table-border-color);
    box-shadow: rgba(0, 0, 0, 0.35) 0 5px 15px;
}

#data-container .handsontable {
    font-size: 1em;
    font-weight: normal;
    color: var(--color);
}


#data-container .handsontable .wtHolder {
    background-color: var(--table-header-background);
}

/* All headers */
#data-container .handsontable th {
    background-color: var(--table-header-background);
    color: var(--table-header-color);
}

/* Row headers */
#data-container .ht_clone_left th {
    background-color: var(--table-header-background);
    color: var(--table-header-color);
}

/* Column headers */
#data-container .ht_clone_top th {
    background-color: var(--table-header-background);
    color: var(--table-header-color);
}

/* Row headers */
/*#data-container .ht_clone_top_left_corner th {*/
/*  border-bottom: 1px solid var(--table-border-color);*/
/*}*/

/*#data-container .ht_clone_left th {*/
/*  border-right: 1px solid var(--table-border-color);*/
/*  border-left: 1px solid var(--table-border-color);*/
/*}*/

/* Column headers */
#data-container .ht_clone_top th {
    border-top: 1px solid var(--table-border-color);
    border-right: 1px solid var(--table-border-color);
    border-bottom: 1px solid var(--table-border-color);
}

#data-container .ht_clone_top_left_corner th {
    border-right: 1px solid var(--table-border-color);
}

#data-container .handsontable .changeType {
    background: inherit;
    border-color: var(--table-border-color);
}

/* Borders */
#data-container .handsontable th,
#data-container .handsontable td {
    border-right: 1px solid var(--table-border-color);
    border-bottom: 1px solid var(--table-border-color);
}

#data-container .handsontable tr:first-child td,
#data-container .handsontable tr:first-child th {
    border-top: 1px solid var(--table-border-color);
}

#data-container .ht_master tr > td {
    border-bottom: 1px solid var(--table-border-color);
}

/* Right */
#data-container .ht_master tr > td {
    border-right: 1px solid var(--table-border-color);
}

#data-container #data-container .handsontable .htNoFrame + td,
#data-container .handsontable .htNoFrame + th,
#data-container .handsontable.htRowHeaders thead tr th:nth-child(2),
#data-container .handsontable td:first-of-type,
#data-container .handsontable th:first-child,
#data-container .handsontable th:nth-child(2) {
    border-left: 1px solid var(--table-border-color);
}

#data-container .ht_clone_top_left_corner thead tr th:nth-last-child(2) {
    border-right: 1px solid var(--table-border-color);
}

#data-container .handsontable th:last-child {
    border-right: 1px solid var(--table-border-color);
    border-bottom: 1px solid var(--table-border-color);
}

/* Selected cell */
#data-container tr > td {
    background-color: var(--cell-color);
}

/* Selected cell */
#data-container tr > td.current {
    background-color: var(--cell-selected-color);
}

/* Context menu */
.htContextMenu tr,
.htDropdownMenu tr,
.htFiltersConditionsMenu tr {
    background-color: var(--ctx-background);
}

.htContextMenu table tbody tr td,
.htDropdownMenu table tbody tr td,
.htFiltersConditionsMenu table tbody tr td {
    background-color: var(--ctx-background);
}

.htContextMenu table tbody tr td.current,
.htContextMenu table tbody tr td.zeroclipboard-is-hover,
.htDropdownMenu table tbody tr td.current,
.htDropdownMenu table tbody tr td.zeroclipboard-is-hover,
.htFiltersConditionsMenu table tbody tr td.current,
.htFiltersConditionsMenu table tbody tr td.zeroclipboard-is-hover {
    background-color: var(--ctx-background-hover);
}


.htContextMenu .handsontable table td.htCustomMenuRenderer,
.htDropdownMenu .handsontable table td.htCustomMenuRenderer {
    background-color: var(--ctx-background);
}

.handsontable .htUISelectCaption.
.handsontable .htUISelectCaption:hover {
    background-color: var(--ctx-background);
}

/* Scroll bar */
::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

::-webkit-scrollbar-track {
    background: var(--scroll-track);
}

::-webkit-scrollbar-thumb {
    background: var(--scroll-thumb);
}

::-webkit-scrollbar-thumb:hover {
    background: var(--scroll-thumb-hover);
}

/*==================================*/

.handsontable a {
    color: red;
}

.handsontable .changeType {
    /*display: none;*/
}

.handsontable span.colHeader {
    font-size: 0.6em;
    font-weight: bold;
    /*color: var(--background-color);*/
}

.handsontable .htDimmed {
    color: var(--text-color);
    font-size: 0.6em;
}

.handsontable .htDimmed:nth-child(1) {
    color: coral;
    font-weight: 500;
    font-size: 0.6em;
    cursor: pointer;
}