{% extends 'base/base.html' %}

{% block main_content %}
    <div>
        <form action="{% url 'delete-device' pk=object.pk %}" method="POST">
            {{ form }}

            {% csrf_token %}

            <button class="reset-button-style button btn-delete">Confirm Delete</button>
            {# TODO: Fix the `Cancel` button to redirect to Business #}
            <a class="button btn-cancel" href="{% url 'business' pk=object.business.pk %}">Cancel</a>
        </form>
    </div>
{% endblock %}