<div id="editForm" style="display:none;">

    <form id="deviceEditForm" class="device-edit-form" enctype="multipart/form-data">

        <div class="title-container">
            <h4 class="action-title"></h4>
        </div>

        <div class="device-info">
            <input type="hidden" id="editDeviceId" name="deviceId">

            <h4 class="sub-title">Device</h4>

            {% include 'devices/partials/device-create-edit-filed.html' with f_title='Hostname' f_type='text' f_id='editDeviceHostName' f_name='device_name' f_placeholder='Device hostname' %}

            {% include 'devices/partials/device-create-edit-filed.html' with f_title='Domain' f_type='text' f_id='editDeviceDomain' f_name='domain' f_placeholder='Domain if existing' %}

            {% include 'devices/partials/device-create-edit-filed.html' with f_title='Description' f_type='text' f_id='editDeviceDescription' f_name='description' f_placeholder='Short description' %}

            <div class="input-group input-group-sm mb-3">
                <span class="input-group-text" id="inputGroup-sizing-sm">Status</span>
                <select id="editDeviceStatus" name="status" class="form-control">
                    <option value="In operation">In operation</option>
                    <option value="Decommissioned">Decommissioned</option>
                    <option value="Pending Setup">Pending Setup</option>
                    <option value="Offline">Offline</option>
                    <option value="Not defined yet">Not defined yet</option>
                    <option value="Exception">Exception</option>
                </select>
            </div>
            

            {% include 'devices/partials/device-create-edit-filed.html' with f_title='Manufacturer' f_type='text' f_id='editDeviceManufacturer' f_name='manufacturer' f_placeholder='Device manufacturer' %}

            {% include 'devices/partials/device-create-edit-filed.html' with f_title='Model' f_type='text' f_id='editDeviceModel' f_name='model' f_placeholder='Device model' %}

            {% include 'devices/partials/device-create-edit-filed.html' with f_title='IP Address' f_type='text' f_id='editDeviceIpAddress' f_name='ip_address' f_placeholder='Device IP address' %}

            {% include 'devices/partials/device-create-edit-filed.html' with f_title='IP Address Second' f_type='text' f_id='editDeviceIpAddressSecondary' f_name='ip_address_sec' f_placeholder='Device second IP address' %}

            {% include 'devices/partials/device-create-edit-filed.html' with f_title='IP Address Second' f_type='text' f_id='editDeviceOperatingSystem' f_name='operating_system' f_placeholder='Device second IP address' %}

            {% include 'devices/partials/device-create-edit-filed.html' with f_title='Building' f_type='text' f_id='editDeviceBuilding' f_name='building' f_placeholder='Building / Location of device' %}

            <div class="input-group input-group-sm mb-3">
                <span class="input-group-text" id="inputGroup-sizing-sm">Category</span>
                <select id="editDeviceCategory" name="category" class="form-control">
                    <option value="Network">Network</option>
                    <option value="Server - Virtual">Server - Virtual</option>
                    <option value="Server - Physical">Server - Physical</option>
                    <option value="Server - Platform">Server - Platform</option>
                    <option value="Printer/Scanner">Printer/Scanner</option>
                    <option value="Storage">Storage</option>
                    <option value="Conferencing">Conferencing</option>
                    <option value="End Users Computing">End Users Computing</option>
                    <option value="AirCon">AirCon</option>
                    <option value="UPS">UPS</option>
                    <option value="Other">Other</option>
                </select>
            </div>

            <div class="input-group input-group-sm mb-3">
                <span class="input-group-text" id="inputGroup-sizing-sm">Category</span>
                <select name="sub_category" id="editDeviceSubCategory" class="form-control">
                    <option value="Router">Router</option>
                    <option value="Firewall">Firewall</option>
                    <option value="Firewall/IDS/IPS">Firewall/IDS/IPS</option>
                    <option value="Access Point">Access Point</option>
                    <option value="Switch">Switch</option>
                    <option value="Desktop">Desktop</option>
                    <option value="Laptop">Laptop</option>
                    <option value="Printer/MFP">Printer/MFP</option>
                    <option value="Scanner">Scanner</option>
                    <option value="IP Phone">IP Phone</option>
                    <option value="Teleconferencing/Modem">Teleconferencing/Modem</option>
                    <option value="VoIP System - Cisco CM">VoIP System - Cisco CM</option>
                    <option value="VoIP System - other">VoIP System - other</option>
                    <option value="App and DB Server">App and DB Server</option>
                    <option value="Application Server">Application Server</option>
                    <option value="Database Server">Database Server</option>
                    <option value="File Server">File Server</option>
                    <option value="Other Server">Other Server</option>
                    <option value="Backup device">Backup device</option>
                    <option value="Storage - NAS">Storage - NAS</option>
                    <option value="Storage - SAN">Storage - SAN</option>
                    <option value="Data Historian">Data Historian'</option>
                    <option value="Human Machine Interface (HMI)">Human Machine Interface (HMI)</option>
                    <option value="IDS/IPS Detection">IDS/IPS Detection</option>
                    <option value="Master Terminal Unit (MTU)">Master Terminal Unit (MTU)</option>
                    <option value="Programmable Logic Controller (PLC)">Programmable Logic Controller (PLC)</option>
                    <option value="Remote Access">Remote Access</option>
                    <option value="Remote Terminal Unit (RTU)">Remote Terminal Unit (RTU)</option>
                    <option value="Other hardware">Other hardware</option>
                </select>
            </div>

            {% include 'devices/partials/device-create-edit-filed.html' with f_title='Serial Number' f_type='text' f_id='editDeviceSerialNumber' f_name='serial_number' f_placeholder='Device unique serial number' %}

            {% include 'devices/partials/device-create-edit-filed.html' with f_title='Owner' f_type='text' f_id='editDeviceOwnerName' f_name='owner_name' f_placeholder='Person who use / own device' %}

        </div>

        <div class="support-info">

            <h4 class="sub-title">Support</h4>

            {% include 'devices/partials/device-create-edit-filed.html' with f_title='Support Model' f_type='text' f_id='editDeviceSupportModel' f_name='support_model' f_placeholder='Short desc of device support model' %}

            {% include 'devices/partials/device-create-edit-filed.html' with f_title='PO Number' f_type='text' f_id='editDevicePurchaseOrderNumber' f_name='purchase_order_number' f_placeholder='Purchase order number' %}

            <div class="input-group input-group-sm mb-3">
                <span class="input-group-text" id="inputGroup-sizing-sm">Invoice Image</span>
                <input type="file" id="editDeviceInvoiceImage" name="invoice_img" class="form-control">
            </div>

            {% include 'devices/partials/device-create-edit-filed.html' with f_title='Start Of Support' f_type='date' f_id='editDeviceStartOfSupport' f_name='sos' f_placeholder='' %}

            {% include 'devices/partials/device-create-edit-filed.html' with f_title='End Of Support' f_type='date' f_id='editDeviceEndOfSupport' f_name='eos' f_placeholder='' %}

            {% include 'devices/partials/device-create-edit-filed.html' with f_title='End Of Life' f_type='date' f_id='editDeviceEndOfLife' f_name='eol' f_placeholder='' %}

            <a id="existingInvoiceLink" class="button btn-create" href="#" style="display:none;" download>Download
                Invoice</a><br>

        </div>

        <div class="risk-info">

            <h4 class="sub-title">Risk</h4>

            {% include 'devices/partials/device-create-edit-filed.html' with f_title='Process At Risk' f_type='text' f_id='editDeviceBusinessProcessAtRisk' f_name='business_processes_at_risk' f_placeholder='Short desc of device support model' %}

            <div class="input-group input-group-sm mb-3">
                <span class="input-group-text" id="inputGroup-sizing-sm">Impact</span>
                <select name="impact" id="editDeviceImpact" class="form-control">
                    {% for i in '12345' %}
                        <option value="{{ i }}">{{ i }}</option>
                    {% endfor %}
                </select>
            </div>

            <div class="input-group input-group-sm mb-3">
                <span class="input-group-text" id="inputGroup-sizing-sm">Likelihood</span>
                <select name="likelihood" id="editDeviceLikelihood" class="form-control">
                    {% for i in '12345' %}
                        <option value="{{ i }}">{{ i }}</option>
                    {% endfor %}
                </select>
            </div>

        </div>

        <div id="errorsEditContainer" style="display: none;"></div>

        <div class="button-container form-style">
            <div class="control-buttons"></div>
            <div class="action-buttons">
                <button class="reset-button-style button btn-create" type="submit" onclick="submitEditForm()">Save
                </button>
                <button class="reset-button-style button btn-delete" type="button"
                        onclick="showDeleteForm(
                            document.getElementById('editDeviceId').value,
                             document.getElementById('editDeviceHostName').value
                             )">
                    Delete
                </button>
                <button class="reset-button-style button btn-cancel" type="button" onclick="hideForm()">Cancel
                </button>
            </div>
        </div>

    </form>
</div>