{% extends 'base/base.html' %}

{% block main_content %}
    <div>
        <form action="{% url 'edit-device' pk=object.pk %}" method="POST">
            <div class="device-wrapper">
                <div class="device-form">
                    {{ form.as_p }}
                </div>
                <div class="support-form">
                    {{ support_form.as_p }}
                </div>
                <div class="risk-form">
                    {{ risk_form.as_p }}
                </div>
            </div>

            {% csrf_token %}

            {% if request.user.pk == object.business.owner.pk %}
                <button class="reset-button-style button btn-create">Save</button>
                <a class="button btn-delete" href="{% url 'delete-device' pk=object.pk %}">Delete</a>
            {% endif %}
            <a class="button btn-cancel" href="{% url 'business' pk=object.business.pk %}">Cancel</a>
        </form>
    </div>
{% endblock %}