{% extends 'base/base.html' %}

{% block main_content %}
    <div class="profile-container">
        <h1>Edit Profile</h1>
        <p>for: {{ object.account.email }}</p>
        <form action="{% url 'edit-profile' pk=request.user.pk %}" method="POST">
            {{ form.as_p }}

            {% csrf_token %}

            <button class="reset-button-style button btn-create">Save</button>
            {# TODO: Back to current profile #}
            <a class="button btn-cancel" href="{% url 'details-profile' %}">Cancel</a>
        </form>
    </div>

{% endblock %}