{% extends 'base/base.html' %}

{% load custom_tags %}

{% block main_content %}
    <form method="POST" action="{% url 'login-user' %}">

        {% csrf_token %}

        <h3 class="login-title">Log In</h3>

        <p>{{ form.username|placeholder:'Email' }}</p>
        <p>{{ form.password|placeholder:'Password' }}</p>
        
        {# TODO: To figure out how should looks the buttons  #}
        <div class="button-container">
            <div class="control-buttons"></div>
            <div class="action-buttons ">
                <button class="reset-button-style button btn-create">Log In</button>
                <a class="button btn-download" href="{% url 'register-user' %}">Sign Up</a>
            </div>
        </div>

    </form>
{% endblock %}