{% extends 'base/base.html' %}

{% block main_content %}

    <!-- Forms container-->
    <div class="backdrop nojs"></div>

    <div class="login-page">
        <form class="login-form" action="{% url 'login-user' %}" method="POST">

            {% csrf_token %}

            <div class="title-container">
                <h4 class="login-title">Log In</h4>
            </div>

            <h3 style="text-align: center;">Welcome to IT Inventory</h3>

            <div class="inputs">

                {% include 'accounts/partials/login-register-input-fields.html' with f_title='Email' f_type='email' f_id="id_username" f_name='username' f_placeholder='Provide your email address' %}

                {% include 'accounts/partials/login-register-input-fields.html' with f_title='Password' f_type='password' f_id="id_password" f_name='password' f_placeholder='Enter your password' %}

            </div>

            <div class="error-messages">
                {% if form.non_field_errors %}
                    {% for error in form.non_field_errors %}
                        <p class="error">{{ error }}</p>
                    {% endfor %}
                {% endif %}
            </div>


            <div class="button-container">
                <div class="control-buttons"></div>
                <div class="action-buttons ">
                    <button class="reset-button-style button btn-create">Log In</button>
                    <a class="button btn-download" href="{% url 'register-user' %}">Register</a>
                    <a class="button btn-cancel" href="{% url 'dashboard' %}">Cancel</a>
                </div>
            </div>

        </form>
    </div>

{% endblock %}