{% extends 'base/base.html' %}

{% block main_content %}
    <div class="backdrop"></div>

    <div class="password-change">

        <div class="title-container">
            <h4 class="login-title">Change password</h4>
        </div>

        <form action="{% url 'password-change' %}" method="post">

            {% csrf_token %}

            <div class="inputs">

                <div class="input-group mb-3">
                    <span class="input-group-text" id="inputGroup-sizing-default">Current password</span>
                    <input type="password" id="id_old_password" name="old_password" class="form-control"
                           aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default"
                           placeholder="Provide your current password">
                </div>

                <div class="input-group mb-3">
                    <span class="input-group-text" id="inputGroup-sizing-default">New password</span>
                    <input type="password" id="id_new_password1" name="new_password1" class="form-control"
                           aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default"
                           placeholder="Provide your current password">
                </div>

                <div class="input-group mb-3">
                    <span class="input-group-text" id="inputGroup-sizing-default">Repeat new password</span>
                    <input type="password" id="id_new_password2" name="new_password2" class="form-control"
                           aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default"
                           placeholder="Provide your current password">
                </div>

            </div>

            <div class="button-container">
                <div class="control-buttons"></div>
                <div class="action-buttons">
                    <button class="reset-button-style button btn-create" type="submit">Change Password</button>
                    <a class="button btn-cancel" href="{% url 'home-page' %}">Back to HOME</a>
                </div>
            </div>

        </form>
    </div>
{% endblock %}