{% extends 'base/base.html' %}

{% block main_content %}
    <div>
        <h2>Change Password</h2>
        <form action="{% url 'password-change' %}" method="post">
            {{ form.as_p }}

            {% csrf_token %}

            <div class="button-container">
                <div class="control-buttons"></div>
                <div class="action-buttons">
                    <button class="reset-button-style button btn-create" type="submit">Change Password</button>
                    <a class="button btn-cancel" href="{% url 'home-page' %}">Back to HOME</a>
                </div>
            </div>

        </form>
    </div>
{% endblock %}