{% extends 'base/base.html' %}

{% block main_content %}
    <div class="backdrop nojs"></div>

    <div class="password-change">


        <form class="password-change-form" action="{% url 'password-change' %}" method="post">

            <div class="title-container">
                <h4 class="login-title">Change password</h4>
            </div>

            {% csrf_token %}

            <div class="inputs">

                {% include 'accounts/partials/edit-input-filed.html' with f_title='Current password' f_type="password" f_id="id_old_password" f_name='old_password' f_placeholder='Provide your current password' %}

                {% include 'accounts/partials/edit-input-filed.html' with f_title='New password' f_type="password" f_id="id_new_password1" f_name='new_password1' f_placeholder='Type your new password' %}

                {% include 'accounts/partials/edit-input-filed.html' with f_title='Repeat new password' f_type="password" f_id="id_new_password2" f_name='new_password2' f_placeholder='Repeat your new password' %}

            </div>

            <div class="button-container">
                <div class="control-buttons"></div>
                <div class="action-buttons">
                    <button class="reset-button-style button btn-create" type="submit">Change Password</button>
                    <a class="button btn-cancel" href="{% url 'home-page' %}">Back to HOME</a>
                </div>
            </div>

        </form>
    </div>
{% endblock %}