{% extends 'base/base.html' %}
{% load static %}

{% block main_content %}
    <div class="backdrop"></div>

    <div class="profile-container">
        <form action="">

            <div class="title-container">
                <h4 class="login-title">Profile information</h4>
            </div>

            <div class="wrapper">
                <div class="profile-image">
                    {% if request.user.profile.profile_pic %}
                        <img src="{{ request.user.profile.profile_pic.url }}" alt="">
                    {% else %}
                        <img src="{% static 'img/for_success_registration.jfif' %}" alt="">
                    {% endif %}
                </div>

                <div class="profile-information">
                    <div>
                        <p class="profile-item">User Login</p>
                        <p class="profile-item">{{ object.account.email }}</p>
                    </div>

                    <div>
                        <p class="profile-item">User Initials</p>
                        <p class="profile-item">{{ object.initials }}</p>
                    </div>

                    <div>
                        <p class="profile-item">First Name</p>
                        <p class="profile-item">
                            {% if not object.first_name %}Not set{% else %}{{ object.first_name }}{% endif %}</p>
                    </div>

                    <div>
                        <p class="profile-item">Last Name</p>
                        <p class="profile-item">
                            {% if not object.last_name %}Not set{% else %}{{ object.last_name }}{% endif %}</p>
                    </div>

                    <div>
                        <p class="profile-item">Phone Number</p>
                        <p class="profile-item">
                            {% if not object.phone_number %}Not set{% else %}{{ object.phone_number }}{% endif %}</p>
                    </div>

                </div>

            </div>

            <div class="button-container">
                <div class="control-buttons"></div>
                <div class="action-buttons">
                    <a class="button btn-edit" href="{% url 'edit-profile' pk=request.user.pk %}">Edit Profile</a>
                    <a class="button btn-cancel" href="{% url 'home-page' %}">Back to Home</a>
                </div>
            </div>
        </form>
    </div>
{% endblock %}