{% extends 'base/base.html' %}

{% block main_content %}
    <div class="profile-container">
        <h1>PROFILE:</h1>
        <p>User login: {{ object.account.email }}</p>
        <hr>
        <p>User initials: {{ object.initials }}</p>
        <p>First Name: {{ object.first_name }}</p>
        <p>Last Name: {{ object.last_name }}</p>
        <p>Phone Number: {{ object.phone_number }}</p>
    </div>
    <div class="buttons-container">
        <a href="{% url 'password-change' %}">Change password</a>
        <a href="{% url 'edit-profile' pk=request.user.pk %}">Edit Profile</a>
        <a href="{% url 'home-page' %}">Back to Home</a>
    </div>
{% endblock %}