{% extends 'base/base.html' %}

{% block main_content %}
    <!-- Forms container-->
    <div class="backdrop nojs"></div>

    <div class="register-page">


        <form class="signup-form" action="{% url 'register-user' %}" method="POST">

            <div class="title-container">
                <h4 class="login-title">Register</h4>
            </div>

            {% csrf_token %}

            <h3 style="text-align: center;">Welcome to IT Inventory</h3>

            <div class="inputs">

                {% include 'accounts/partials/login-register-input-fields.html' with f_title='Email' f_type='email' f_id='id_email' f_name='email' f_placeholder=form.email.help_text %}

                {% include 'accounts/partials/login-register-input-fields.html' with f_title='Password' f_type='password' f_id='id_password1' f_name='password1' f_placeholder='Enter password' %}

                {% include 'accounts/partials/login-register-input-fields.html' with f_title='Repeat password' f_type='password' f_id='id_password2' f_name='password2' f_placeholder='Repeat the same password' %}

            </div>

            {% if form.email.errors %}
                <div class="error-messages">
                    {% for error in form.email.errors %}
                        <p class="error">{{ error }}</p>
                    {% endfor %}
                </div>
            {% endif %}

            {% if form.password1.errors %}
                <div class="error-messages">
                    {% for error in form.password1.errors %}
                        <p class="error">{{ error }}</p>
                    {% endfor %}
                </div>
            {% endif %}

            {% if form.password2.errors %}
                <div class="error-messages">
                    {% for error in form.password2.errors %}
                        <p class="error">{{ error }}</p>
                    {% endfor %}
                </div>
            {% endif %}


            <div class="button-container">
                <div class="control-buttons"></div>
                <div class="action-buttons ">
                    <button class="reset-button-style button btn-create" type="submit">Register</button>
                    <a class="button btn-cancel" href="{% url 'dashboard' %}">Cancel</a>
                </div>
            </div>
        </form>
    </div>
{% endblock %}